/**
 * @file amerch/scss/base/_links.scss
 *
 * \file amerch/scss/base/_links.scss
 * \ingroup Amerch_SCSS_Base
 * \brief Base styles for links.
 */

.read-more {
  font-weight: bold;
  text-transform: capitalize;

  &:after {
    content: "»";
  }
}
