/**
 * @file amerch/scss/base/_links.scss
 *
 * \file amerch/scss/base/_links.scss
 * \ingroup Amerch_SCSS_Base
 * \brief Base styles for links.
 */

.read-more {
/*   font-weight: bold; */
  text-transform: capitalize;

  &:after {
    content: " »";
  }
}

.button {
	background: rgb(36,132,204); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(36,132,204,1) 0%, rgba(15,107,177,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,132,204,1)), color-stop(100%,rgba(15,107,177,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(36,132,204,1) 0%,rgba(15,107,177,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(36,132,204,1) 0%,rgba(15,107,177,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(36,132,204,1) 0%,rgba(15,107,177,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(36,132,204,1) 0%,rgba(15,107,177,1) 100%); /* W3C */
	border-radius: 6px;
	padding: .35em 1em .5em;
	box-shadow: 0 2px 3px 0 rgba(11, 78, 129, .3);
	font-size: 1.15em;
	color: white;
	border: 1px solid #0263a8;
	display: inline-block;
}

.button:hover {
	background-color: rgba(36,132,204,1);
}

