/**
 * @file amerch/scss/global/_variables.scss
 *
 * \file amerch/scss/global/_variables.scss
 * \ingroup Amerch_SCSS_Global
 * \brief Variables
 */

/* Color Palette */
$primary-blue: #0f6ab1;
$light-blue: #80b4da;
$green: #40b587;
$light-grey: #dfdfdf;
$text: #474e60;

/* Typograpy */
$font-stack: "ff-tisa-sans-web-pro", "Helvetica Neue", Arial, Helvetica, sans-serif;

// Borders
$border-base: 7px solid;
$border-primary: $border-base $primary-blue;

$radius-value: 6px;
