/**
 * @file amerch/scss/base/_header.scss
 *
 * \file amerch/scss/base/_header.scss
 * \ingroup Amerch_SCSS_Base
 * \brief Theming for the top header of the site.
 */

header {
	background-color: $site-background;
	padding: 0em 0;
	margin-bottom: 0%;
}

.top-bar .name h1 {
	padding-left: .75em;
}

.top-bar .name h1 a {
  @include replace-text('amerch-site-logo.png', 0);
  width: 200px;
  background-size: contain;
}
.top-bar,
.contain-to-grid {
  background: transparent;
}

.contain-to-grid {
}

.contain-to-grid .top-bar {
	margin-bottom: 0;
}


@media (min-width: 768px) {
	header {
		padding: .5em 0;
	}
	
	.top-bar {
		.title-area {
			width: 25%;
		}
		
		.name h1 a {
			width: 100%;
		}
	}
	
	.top-bar-section {
		width: 75%;
		float: left;
		
		ul > li a {
			font-size: 1.1em;
			font-weight: 300;
		}
	}
}
