/**
 * @file amerch/scss/base/_header.scss
 *
 * \file amerch/scss/base/_header.scss
 * \ingroup Amerch_SCSS_Base
 * \brief Theming for the top header of the site.
 */

.top-bar .name h1 a {
  @include replace-text('amerch-site-logo.png', 0);
  height: 70px;
  width: 330px;
}
.top-bar,
.contain-to-grid {
  background: transparent;
}
.contain-to-grid {
  border-top: 4px solid $primary-blue;
}
