/**
 * @file amerch/scss/base/_header.scss
 *
 * \file amerch/scss/base/_header.scss
 * \ingroup Amerch_SCSS_Base
 * \brief Theming for the top header of the site.
 */

header {
	margin-bottom: 5%;
}

.top-bar .name h1 a {
  @include replace-text('amerch-site-logo.png', 0);
  width: 200px;
  background-size: contain;
}
.top-bar,
.contain-to-grid {
  background: transparent;
}
.contain-to-grid {
  border-top: $border-primary;
}

.contain-to-grid .top-bar {
	margin-bottom: 0;
}
