/**
 * @file amerch/scss/base/_homepage.scss
 *
 * \file amerch/scss/base/_homepage.scss
 * \ingroup Amerch_SCSS_Base
 * \brief Theming for the Homepage of the site.
 */

.logo-panel {
  border-bottom: none;
  margin-bottom: 20px;
  
  .pane-content {
    padding: 0;
  }
  
}
.logo-slider {
  margin-bottom: 0;
  padding: 1em;
  ul {
    padding: 0;
  }
  li {
    img {
      margin-bottom: 0;
    }
    a:after {
      content: "";
    }
  }
}

.hero {
	background: -webkit-linear-gradient(rgba(255,255,255, 0) 0%, rgba(0,0,0,1) 100%);
/* 	margin-bottom: 5%; */
	border-bottom: 5px solid $primary-blue;
	padding-top: 20px;
	position: relative;
	height: 450px;
	overflow: hidden;
	
	@media screen and (min-width: 768px){
		    padding-top: 60px;
		    height: 550px;
		    	}
		    	
	@media screen and (min-width: 960px){
		    padding-top: 60px;
		    height: 550px;
/* 		    margin-bottom: 20px; */
		    	}
		    	
	.large-12 {
		max-width: 1020px;
		margin: auto;
	}
		    	

	.title {
			text-align: center;
			width: 84%;
			margin: 0px auto 10px;
			font-size: 1.25em;
			
			@media screen and (min-width: 768px){
				margin: 0px auto 40px;
		    	}
		    	
		    @media screen and (min-width: 960px){
				margin: 0px auto 60px;
		    	}
			
			
	.highlight {
		    display: inline;
		    background: rgba($primary-blue, .9);
		    color: white;
		    padding: 0.2em;
		    padding-left: 0;
		    padding-right: 0;
		    box-shadow: 10px 0 0 rgba($primary-blue, .9), -10px 0 0 rgba($primary-blue, .9);
		    text-align: center;
		    font-weight: normal;
		    line-height: 2em;
		    
		    @media screen and (min-width: 768px){
		    font-size: 28px;			    
		    padding: 0.13em;
		    line-height: 1.85em;
		    	}
		    	
		    @media screen and (min-width: 960px){
		    font-size: 36px;			    
		    	}
			

			}
		}

	> div > div {
		width: 100%;
		margin: auto;
		padding: 1em 1.5em;
		
		@media screen and (min-width: 768px){
		    width: 90%;
			margin: auto;
			padding: 1em 1.5em;
			border-radius: 6px;
		    	}
		    	
		 @media screen and (min-width: 960px){
		    width: 80%;
			margin: auto;
			background-color: rgba(0,0,0,.1);
			padding: 1em 1.5em;
			border-radius: 6px;
		    	}

		}

	blockquote {
		float: left;
		width: 100%;
		color: white;
		font-size: 14px;
		line-height: 1.4em;
		border-left: none;
		margin: 0;
		padding: .75em 1em .75em;
		text-shadow: 0px 2px 4px rgba(0,0,0, .3);
		background-color: rgba(0,0,0,.1);
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		text-align: center;

		cite {
			color: $light-blue;
			text-transform: uppercase;
			font-size: 11px;
			font-style: normal;
			font-weight: normal;

			&:before {
				content: '';
				}
			}
			
		@media screen and (min-width: 768px) {
			font-size: 21px;
			
			cite {
				font-size: 14px;
				padding: 10px 0 0;
				}
			}
		@media screen and (min-width: 960px) {
			width: 420px;
			padding: 0;
			text-align: left;
			background-color: transparent;
			
			cite {
				font-size: 14px;
				
				}
			}


		}

	.home-hero-cta {
		float: left;
		width: 100%;
		margin-bottom: 25px;

		a {
			display: inline-block;
			margin: 0 6.75% 0 0;
			width: 46%;
			margin-bottom: 0;
			font-size: 1em;

			&:last-child {
				margin-right: 0;
				}
				
			&:not(.secondary) {
				background-color: #fafafa;
				color: $primary-blue;
				border-color: #eee;
				
				&:hover {
					color: lighten($primary-blue, 10%);
				}
			}
			}
			
			
		@media screen and (min-width: 768px){
			float: none;
			width: 90%;
			margin: 0 auto 40px;
			display: block;
			
		a {
			display: block;
			width: 45%;
			margin-bottom: 20px;
			font-size: 1.25em;
			float: left;
			margin-right: 10%;

			&:last-child {
				margin-bottom: 0;
				}
			}
		    }
		@media screen and (min-width: 960px){

			float: right;
			width: 200px;
			
			
		a {
			display: block;
			margin-bottom: 20px;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
				}
			}

		    }

		}
	}

/* Image Transitions */
@-webkit-keyframes cf3FadeInOut {
   0% {
     opacity:1;
   }
   25% {
    opacity:1;
  }
  75% {
    opacity:0;
  }
  100% {
   opacity:0;
 }
}

@-moz-keyframes cf3FadeInOut {
 0% {
   opacity:1;
 }
 25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
 opacity:0;
}
}

@-o-keyframes cf3FadeInOut {
 0% {
   opacity:1;
 }
 25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
 opacity:0;
}
}

@keyframes cf3FadeInOut {
 0% {
   opacity:1;
 }
 25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
 opacity:0;
}
}

#cf3 {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	top: 0;
	z-index: -1;
	
	@media screen and (min-width:960px) {
		width: 100%;
		}

}



#cf3 img {
	position:absolute;
	left:0;
	width: 100%;
	overflow: hidden;
}

#cf3 .top img {
  -webkit-animation-name: cf3FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 15s;
  -webkit-animation-direction: alternate;

  -moz-animation-name: cf3FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 15s;
  -moz-animation-direction: alternate;

  -o-animation-name: cf3FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 15s;
  -o-animation-direction: alternate;

  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-direction: alternate;
}

/* Approach Slider */

.approach {
	position: relative;
	background-color: $primary-blue;
	padding: 0;
	margin-bottom: 30px;
	
	@media screen and (min-width: 768px) {
	
		.pane-content {
			margin-bottom: 0;
			padding: 20px 0 0;
			box-shadow: inset 0 0px 10px rgba(0,0,0,.3);
		}
		
		.slide-content {
			width: 100%;
			float: left;
		}
		
		.field-name-field-picture {
			width: 45%;
			float: left;
			margin-left: 5%;
			
			img {
				margin-bottom: 0;
			}
		}	
		
		.slide-quote {
			width: 45%;
			float: left;
			border: 0;
			height: 100%;
			margin-right: 5%;
		}
		
		.row {
			margin-bottom: 0;
		}
	}
	
	.pane-title {
		text-align: center;
		font-weight: bold;
		background-color: #fafafa;
		border-radius: 0;
		padding-top: .5em;
		margin: 0 0 20px;
		color: $primary-blue;
		box-shadow: 0px 4px 4px rgba(0,0,0,.05);
		
		@media screen and (min-width: 768px){
			margin-bottom: 0;
		}
	}
	
	.pane-content ul{
		padding: 0;
	}
	
	.pane-content img {
		margin-bottom: 20px;
		
		@media screen and (min-width: 768px) {
			margin-bottom: 0;
		}
		}
	.pane-content p, pane-content h4 {
		padding: 0 20px;
	}
	
	.field-wrapper ul li {
			padding-left: 0;
		}
	
	#flexslider-1 {
		background-color: transparent;
		border: none;
		box-shadow: none;
		margin-bottom: 40px;
		
		@media screen and (min-width: 768){
			.slides {
			padding-bottom: 20px;
			}
		}
			
		.slide-content {
			padding: 0;
			text-align: center;
			position: relative;
		
			span {
				background: $light-blue;
				display:table;
				font-size: 2em;
				padding: .5em;
				border-radius: 100px;
				margin: auto;
				line-height: .5em;
				color: white;
				font-weight: bold;
			}
			
			h4 {
				color: white;
				font-weight: bold;
				font-size: 1.5em;
				
				@media screen and (min-width: 768px) {
					font-size: 2em;
					margin-bottom: 2%;
					}
			}
			
			p {
				color: #fafafa;
				font-weight: bold;
				
				@media screen and (min-width: 768px) {
					font-size: 1.25em;
					font-weight: normal;				
					}
			}
		}
		.slide-quote {
				color: $primary-blue;
				padding: 1em;
				line-height: 1.4em;
				background-color: #fafafa;
				text-align: center;
				border: solid $primary-blue;
				border-width: 0 20px 0;
				margin-bottom: 0;
				
				@media screen and (min-width: 768px) {
					border: 0;
					background-color: $primary-blue;
					color: #fafafa;
					text-align: left;
					padding: 0 0 0 1em;
					line-height: 1.6em;
				}
			}
	}
	.flex-control-paging {
		background-color: $primary-blue;
		padding: .5em 0;	
	}
}



