/**
 * @file amerch/scss/base/_homepage.scss
 *
 * \file amerch/scss/base/_homepage.scss
 * \ingroup Amerch_SCSS_Base
 * \brief Theming for the Homepage of the site.
 */

.logo-panel {
  border-bottom: none;
  margin-bottom: 20px;
  
  .pane-content {
    padding: 0;
  }
  
}
.logo-slider {
  margin-bottom: 0;
  padding: 1em;
  ul {
    padding: 0;
  }
  li {
    img {
      margin-bottom: 0;
    }
    a:after {
      content: "";
    }
  }
}

.hero {
	background: -webkit-linear-gradient(rgba(255,255,255, 0) 0%, rgba(0,0,0,1) 100%);
	margin-bottom: 5%;
	border-bottom: 5px solid $primary-blue;
	padding-top: 20px;
	position: relative;
	height: 450px;
	overflow: hidden;
	
	@media screen and (min-width: 768px){
		    padding-top: 60px;
		    height: 550px;
		    	}
		    	
	@media screen and (min-width: 960px){
		    padding-top: 60px;
		    height: 600px;
		    margin-bottom: 20%;
		    	}

	.title {
			text-align: center;
			width: 84%;
			margin: 0px auto 10px;
			font-size: 1.25em;
			
			@media screen and (min-width: 768px){
				margin: 0px auto 40px;
		    	}
		    	
		    @media screen and (min-width: 960px){
				margin: 0px auto 80px;
		    	}
			
	.highlight {
		    display: inline;
		    background: rgba($primary-blue, .9);
		    color: white;
		    padding: 0.2em;
		    padding-left: 0;
		    padding-right: 0;
		    box-shadow: 10px 0 0 rgba($primary-blue, .9), -10px 0 0 rgba($primary-blue, .9);
		    text-align: center;
		    font-weight: normal;
		    line-height: 2em;
		    
		    @media screen and (min-width: 768px){
		    font-size: 28px;			    
		    padding: 0.13em;
		    line-height: 1.85em;
		    	}
		    	
		    @media screen and (min-width: 960px){
		    font-size: 36px;			    
		    	}
			}
		}

	> div > div {
		width: 100%;
		margin: auto;
		padding: 1em 1.5em;
		
		@media screen and (min-width: 768px){
		    width: 90%;
			margin: auto;
			padding: 1em 1.5em;
			border-radius: 6px;
		    	}
		    	
		 @media screen and (min-width: 960px){
		    width: 60%;
			margin: auto;
			background-color: rgba(0,0,0,.1);
			padding: 1em 1.5em;
			border-radius: 6px;
		    	}
		}

	blockquote {
		float: left;
		width: 100%;
		color: white;
		font-size: 14px;
		line-height: 1.4em;
		border-left: none;
		margin: 0;
		padding: .75em 1em .75em;
		text-shadow: 0px 2px 4px rgba(0,0,0, .3);
		background-color: rgba(0,0,0,.1);
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		text-align: center;
		bottom: 0;

		cite {
			color: $light-blue;
			text-transform: uppercase;
			font-size: 11px;
			font-style: normal;
			font-weight: normal;

			&:before {
				content: '';
				}
			}
			
		@media screen and (min-width: 768px) {
			font-size: 21px;
			text-align: left;
			
			cite {
				font-size: 14px;
				}
			}
		@media screen and (min-width: 960px) {
			width: 400px;
			font-size: 24px;
			padding: 0;
			text-align: left;
			background-color: transparent;
			
			cite {
				font-size: 14px;
				}
			}
		}

	.home-hero-cta {
		float: left;
		width: 100%;
		margin-bottom: 25px;

		a {
			display: inline-block;
			margin: 0 6.75% 0 0;
			width: 46%;
			margin-bottom: 0;
			font-size: 1em;
			border: 0;

			&:last-child {
				margin-right: 0;
				}
			}
			
		@media screen and (min-width: 768px){
			float: none;
			width: 90%;
			margin: 0 auto 40px;
			display: block;
			
		a {
			display: block;
			width: 45%;
			margin-bottom: 20px;
			font-size: 1.25em;
			float: left;
			margin-right: 10%;

			&:last-child {
				margin-bottom: 0;
				}
			}
		    }
		@media screen and (min-width: 960px){

			float: right;
			width: 200px;
			
			
		a {
			display: block;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
				}
			}

		    }
		}
	}

/* Image Transitions */
@-webkit-keyframes cf3FadeInOut {
   0% {
     opacity:1;
   }
   25% {
    opacity:1;
  }
  75% {
    opacity:0;
  }
  100% {
   opacity:0;
 }
}

@-moz-keyframes cf3FadeInOut {
 0% {
   opacity:1;
 }
 25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
 opacity:0;
}
}

@-o-keyframes cf3FadeInOut {
 0% {
   opacity:1;
 }
 25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
 opacity:0;
}
}

@keyframes cf3FadeInOut {
 0% {
   opacity:1;
 }
 25% {
  opacity:1;
}
75% {
  opacity:0;
}
100% {
 opacity:0;
}
}

#cf3 {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	top: 0;
	z-index: -1;
}


#cf3 img {
	position:absolute;
	left:0;
	width: 100%;
	overflow: hidden;
}

#cf3 .top img {
  -webkit-animation-name: cf3FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 15s;
  -webkit-animation-direction: alternate;

  -moz-animation-name: cf3FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 15s;
  -moz-animation-direction: alternate;

  -o-animation-name: cf3FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 15s;
  -o-animation-direction: alternate;

  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-direction: alternate;
}
