/**
 * @file amerch/scss/base/_topnav.scss
 *
 * \file amerch/scss/base/_topnav.scss
 * \ingroup Amerch_SCSS_Base
 * \brief Theming for the top nav menu of the site.
 */

.no-js .top-bar-section ul li:hover > a {
  background: $light-grey;
  color: $primary-blue;
}
.top-bar-section {
/*   margin-top: 34px; */
  &.expanded {
    margin-top: 0;
  }
  li a:not(.button) {
    background: none;
    color: $primary-blue;
    line-height: 40px;
  }
  ul {
    background: none;
  }
  ul.dropdown li a {
      background: $primary-blue;
      color: #fff;
      line-height: normal;
  }
  .has-dropdown > a:after {
    border-color: rgba(0, 104, 180, 0.5) transparent transparent transparent;
    top: 50%;
  }
}
.top-bar.expanded {
  .title-area {
    background: none;
  }
  .top-bar-section li a:not(.button) {
    background: $primary-blue;
    color: #fff;
  }
  .no-js .top-bar-section ul li:hover > a {
    background: $light-blue;
  }
  .has-dropdown > a:after {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
    top: 50%;
  }
}
