<div class="row">
  <div class="large-12 columns">
    <h2>About</h2>
  </div>
</div>
<div class="title-img">
    <img src="images/Wallace_BBMusic1.jpg">
</div>
<div class="row">
  <div class="large-12 columns">
    <p>Anderson Merchandisers is the nation’s largest distributor and merchandiser of entertainment products with unparalleled ability to handle street sensitive product in a short time period. Our Distribution Centers have enabled us to make huge strides in our Supply Chain Management.</p>

     <p>We are the most dependable and experienced third party logistics company servicing the largest retailers. Our commitment is to provide enhanced productivity, reduced cost in the supply chain, best- in-class in-store execution to ensure your product is available to the consumer.</p>

    <hr />
  </div>


        <div class="panel-separator"></div>
</div>
        <div class="row">
        <div class="large-6 columns">
       <div class="panel-pane pane-fieldable-panels-pane pane-bundle-image-text">
          <h3 class="pane-title">Anderson Solutions</h3>

          <div class="pane-content">
            <div class="fieldable-panels-pane">
              <div class="field field-name-field-text field-type-text-long field-label-hidden field-wrapper" data-edit-id="fieldable_panels_pane/82/field_text/und/full">
                <p>Our commitment to cutting-edge technology paired with our dedicated, highly trained workforce allows us to deliver a cost effective solution to your in- store needs.</p>
                <p>Our systems and processes deliver the highest standard of execution possible. Couple that with our advanced reporting and analytics, and you will have complete confidence that your project will come in on time and on budget.</p>
              </div>
            </div>
          </div>
        </div>
        </div>
         <div class="large-6 columns">

      <div class="page clearfix" >
        <div class="panel-pane pane-fieldable-panels-pane pane-bundle-image-text featured-pane" >
          <h3 class="pane-title">Anderson Service</h3>
          <div class="pane-content">
            <div class="fieldable-panels-pane">
              <div class="field field-name-field-text field-type-text-long field-label-hidden field-wrapper">
                <h3>We provide a full range of in-store merchandising services to support your products:</h3>
                  <ul class="two-col-text">
                    <li>New product launches</li>
                    <li>POP production and placement</li>
                    <li>OSA compliance</li>
                    <li>Modular resets/maintenance integrity</li>
                    <li>Audits and corrections</li>
                    <li>In-store training</li>
                    <li>Customer awareness events
                    <li>Continuity programs</li>
                    <li>Unparalleled in-store relationships</li>
                    <li>Walmart SPARC certified</li>
                    <li>Phantom Inventory Management</li>
                    <li>Consulting - supply channel expertise; access to sister company warehouses and systems</li>
                  </ul>
                <p><a href="#" class="read-more">Read More</a></p>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>
        </div>

        <div class="panel-separator"></div>
        <div class="row">
                    <hr />

                 <div class="large-12 columns">

        <div class="panel-pane pane-fieldable-panels-pane pane-bundle-image-text-list" >
          <div class="pane-content">
            <div class="fieldable-panels-pane">
              <div class="field field-name-field-image-text field-type-field-collection field-label-hidden field-wrapper">
                <div class="quotes centered clearfix group">
                  <div class="quotes-list-item item-0 group">
                    <div class="quote">
                      <div class="text">
                        <p>“Anderson’s reputation: Don’t know when Anderson is in the store, but notice when they are not.”</p>

                      </div>
                       <div class="citation">
	                        <p>Mike Moore  •  EVP Walmart Central</p>
                        </div>
                    </div>

                    <img src="images/quote-img.png"/>
                  </div>
                  </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="medium-4 columns">
            <div class="panel-pane pane-fieldable-panels-pane pane-bundle-image-text pane--image-feature">

              <!-- <h2 class="pane-title">How we help…</h2> -->
              <div class="pane-content">
                <div class="fieldable-panels-pane">
                  <div class="field field-name-field-picture field-type-field-collection field-label-hidden field-wrapper" data-edit-id="fieldable_panels_pane/98/field_picture/und/full">
                    <img alt="" src="images/case-study-1.jpg">
                  </div>
                  <div class="field field-name-field-text field-type-text-long field-label-hidden field-wrapper" data-edit-id="fieldable_panels_pane/98/field_text/und/full">
                    <h3>Honey Bunches of Oats Greek Yogurt</h3>
                    <p>Two weeks prior to the launch, Anderson Merchandisers associates met with each Walmart Store Manager, Market Manager, Regional, and many Divisionals to detail the goals and activities planned for the launch. The result – “It was the best in class cereal launch ever at Walmart - 3 days, 99% compliancy!” Post claims that sales of HBO Greek Yogurt increased ___________ over their previous launches.</p>
                    <a href="#" class="read-more button-lg">Read More</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="medium-4 columns">
            <div class="panel-pane pane-fieldable-panels-pane pane-bundle-image-text pane--image-feature">

              <!-- <h2 class="pane-title">How we help…</h2> -->
              <div class="pane-content">
                <div class="fieldable-panels-pane">
                  <div class="field field-name-field-picture field-type-field-collection field-label-hidden field-wrapper" data-edit-id="fieldable_panels_pane/98/field_picture/und/full">
                    <img alt="" src="images/case-study-2.jpg">
                  </div>
                  <div class="field field-name-field-text field-type-text-long field-label-hidden field-wrapper" data-edit-id="fieldable_panels_pane/98/field_text/und/full">
                    <h3>Scanning = Sales</h3>
                    <p>In the past 12 months, Anderson Merchandisers has scanned 4.16m out of stocks, resulting in on- hand corrections for those items. In working with Department Managers, 96% of these corrections were accepted in their system with 77% approved by the Store Manager. The result? Improved on-hands = product on the shelves = sales!</p>
                    <a href="#" class="read-more button-lg">Read More</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="medium-4 columns">
            <div class="panel-pane pane-fieldable-panels-pane pane-bundle-image-text pane--image-feature">

              <!-- <h2 class="pane-title">How we help…</h2> -->
              <div class="pane-content">
                <div class="fieldable-panels-pane">
                  <div class="field field-name-field-picture field-type-field-collection field-label-hidden field-wrapper" data-edit-id="fieldable_panels_pane/98/field_picture/und/full">
                    <img alt="" src="images/case-study-3.jpg">
                  </div>
                  <div class="field field-name-field-text field-type-text-long field-label-hidden field-wrapper" data-edit-id="fieldable_panels_pane/98/field_text/und/full">
                    <h3>Phantom Inventory?</h3>
                    <p>Tony Arnone, our VP of Client Services/Business Development, is on the SPARC Advisory Board. He has taught SPARC to Walmart merchants and executives during three merchant fairs, Walmart’s Year End Meeting, and assorted webinars with attendance of up to 100 suppliers each. He introduces SPARC, demonstrates its use and the advantages it can provide, not only to Walmart and Anderson, but to other clients and suppliers as well.</p>
                    <a href="#" class="read-more button-lg">Read More</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- End of row. -->

      </div>

    </div>
  </div>
</div>
