<div class="row">
  <div class="large-12 columns">
    <h2>ABOUT</h2>
    <p>Anderson Merchandisers is the nation’s largest distributor and merchandiser of entertainment products with unparalleled ability to handle street sensitive product in a short time period. Our Distribution Centers have enabled us to make huge strides in our Supply Chain Management.</p>
    <hr />
  </div>
</div>

<div class="row clearfix">
  <div id="main" class="large-12 columns">
    <div id="main-content">


      <div class="hero clearfix">
        <div class="panel-pane pane-fieldable-panels-pane pane-uuid-60e44aef-f4c2-49af-a747-ad6752bf1bce pane-bundle-image-text" >

        <div class="pane-content">
          <div class="fieldable-panels-pane">
            <div class="field field-name-field-picture field-type-field-collection field-label-hidden field-wrapper" data-edit-id="fieldable_panels_pane/165/field_picture/und/full"><div data-picture data-alt=""><div data-src="http://m.rackspace.p2devcloud.com/sites/default/files/images/dedicated-hosting-head-small.png"></div><div data-src="http://m.rackspace.p2devcloud.com/sites/default/files/images/dedicated-hosting-head.png" data-media="(min-width: 400px)"></div><!-- Fallback content for non-JS browsers. Same img src as
                    the initial, unqualified source element. -->
            <noscript><img src="http://m.rackspace.p2devcloud.com/sites/default/files/images/dedicated-hosting-head-small.png" alt=""/></noscript>
              </div>
            </div>
          </div>
        </div>


        </div>
      </div>
      <div class="page clearfix" >
        <div class="panel-pane pane-fieldable-panels-pane pane-bundle-image-text" >
          <div class="pane-content">
            <div class="fieldable-panels-pane">
              <div class="field field-name-field-text field-type-text-long field-label-hidden field-wrapper">
                <h3 class="pane-title">We provide a full range of in-store merchandising services to support your products:</h3>
                <div class="row">
                  <div class="large-8 columns">
                  <ul>
                    <li>New product launches</li>
                    <li>POP production and placement</li>
                    <li>OSA compliance</li>
                    <li>Modular resets/maintenance integrity</li>
                    <li>Audits and corrections</li>
                    <li>In-store training</li>
                    <li>Customer awareness events
                    <li>Continuity programs</li>
                    <li>Unparallel in-store relationships</li>
                    <li>Walmart SPARC certified</li>
                    <li>Phantom Inventory Management</li>
                    <li>Consulting - supply channel expertise; access to sister company warehouses and systems</li>
                  </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-separator"></div>
        <div class="spanner centered">
          <h3 class="pane-title">Dedicated people managing your hosted environment</h3>

          <div class="pane-content">
            <div class="fieldable-panels-pane">
              <div class="field field-name-field-text field-type-text-long field-label-hidden field-wrapper" data-edit-id="fieldable_panels_pane/82/field_text/und/full">
                <p>Our commitment to cutting-edge technology paired with our dedicated, highly trained workforce allows us to deliver a cost effective solution to your in- store needs.</p>
                <p>Our systems and processes deliver the highest standard of execution possible. Couple that with our advanced reporting and analytics, and you will have complete confidence that your project will come in on time and on budget.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-separator"></div>

        <div class="panel-pane pane-fieldable-panels-pane pane-bundle-image-text-list" >
          <div class="pane-content">
            <div class="fieldable-panels-pane">
              <div class="field field-name-field-image-text field-type-field-collection field-label-hidden field-wrapper">
                <div class="quotes centered clearfix">
                  <div class="quotes-list-item item-0">
                    <div class="quote">
                      <div class="text">
                        <p>“Anderson’s reputation: Don’t know when Anderson is in the store, but notice when they are not.”</p>
                        <div class="citation">
                        <p><strong>Mike Moore</strong></p>
                        <p>EVP Walmart Central</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-separator"></div>
        <div class="centered">
          <div class="pane-content">
            <div class="fieldable-panels-pane">
              <div class="field field-name-field-text field-type-text-long field-label-hidden field-wrapper" data-edit-id="fieldable_panels_pane/84/field_text/und/full">
                <p>We are the most dependable and experienced third party logistics company servicing the largest retailers. Our commitment is to provide enhanced productivity, reduced cost in the supply chain, best- in-class in-store execution to ensure your product is available to the consumer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>