<div class="wrapper">
	<header>
		<h1>County<span>of</span>San Mateo</h1>
		<h2 class="tagline">A great place to live, work, <span>&</span> recreate.</h2>
	</header>
		<div class="search group section">
			<input type="search" placeholder="Search..">
			<a class="btn btn-5 btn-5a icon-remove" href=""><span class=" icon-mag-glass-02" aria-hidden="true"></span></a>		
		</div>
		
		<div class="group section-wrap upper" id="upper">
	        <div class="wrap group">
	            <div class="section-2 group">
					<ul id="images" class="rs-slider">
					    <li class="group">
					        <a href="#">
					            <img src="images/1.jpg" alt="" />
					        </a>
					        <div class="rs-caption rs-bottom">
					            <h3>Caption Area</h3>
					            <p>This is a slide description.</p>
					        </div>
					    </li>
					    <li class="group">
					        <a href="#" class="slide-parent">
					            <img src="images/2.jpg" alt=""/>
					        </a>
					        <div class="rs-caption rs-bottom">
					            <h3>Caption Area</h3>
					            <p>This is a slide description.</p>
					        </div>
					    </li>
					    <li class="group">
					        <img src="images/3.jpg" alt=""/>
							<div class="rs-caption rs-bottom">
					            <h3>Caption Area</h3>
					            <p>This is a slide description.</p>
					        </div>
					    </li>
					    <li class="group">
					    	<img src="images/4.jpg" alt=""/>
					    	<div class="rs-caption rs-bottom">
				            	<h3>Caption Area</h3>
				            	<p>This is a slide description.</p>
				        	</div>
					    </li>
					</ul>
	            </div>
	        </div>
	    </div>
	    
		<div class="section group">
			<div class="large-col">
				<h2>Our Mission <span>Secondary Heading</span></h2>
				<p>Through strategic partnerships and collaboration, the Human Resources Department recruits, develops and retains a high performing and diverse workforce and fosters a healthy, safe, and productive work environment for employees, their families, departments, and the public in order to maximize individual and organizational potential and position San Mateo County as an employer of choice.</p>
				<a class="button btn-3 btn-3e icon-arrow-right">Action</a>
			</div>
			<div class="block seamless spotlight vert">
			<h4>Employee Spotlight</h4>
			<img src="http://www.co.sanmateo.ca.us/Attachments/HR/Images/julie-goebel-aug08.jpg" class="">
			<h5 class="reverse">Julie Goebel <span>Information Technology Technician</span></h5>
			<p>Rocio has championed professional development not only for herself but for her staff and colleagues, too.</p>
			<a href="" class="btn-bar">Meet Julie
			</a>
		</div>
	
		</div>
</div>
<div class="full left group">
	<div class="content group">
		<div>
			<h3>Apply with San Mateo County</h3>
			<p>Interested in information on the County's application, examination and interviewing process?</p>
			<a class="button btn-3 btn-3e icon-arrow-right tertiary">Apply Now</a>
		</div>	
		<img src="/images/rocio.png">

	</div>
</div>
<div class="full right group flexible">
	<div class="content group">
		<div>
			<h3>Highlight Banner</h3>
			<p>A block like this can be used to highlight something special.</p>
			<a class="button btn-3 btn-3e icon-arrow-right tertiary">Action Link</a>
		</div>	
		<img src="/images/3.jpg">

	</div>
</div>

<div class="wrapper">
<div class="section">
<div class="event group">
	<div class="content">
				<h3><a href="/event-detail.html">Take A Hike</a></h3>
				<span class="meta">Activity</span>				
				<div class="details group">
				<div class="place">Junipero Serra Park <br/>1801 Crystal Springs Rd,<br /> San Bruno, CA <br /><a href="">View Map</a></div>
				<dl class="time">
					<dt>Start</dt>
					<dd>June 3, 2013 at 3:00 pm</dd> 
					<dt>End</dt>
					<dd>June 3, 2013 at 3:00 pm</dd>
				</dl>
				</div>
	</div>
					<p class="date">June <span>3</span></p>

	<img src="images/hike.jpg">
	<p class="summary">Take A Hike encourages you to discover a County Park each month from April through October. Participants learn about local parks and are encouraged to use the trails to stay active and healthy. This year's schedule features one park that was not included in prior seasons. <a href="">View Details</a></p>
</div>
</div>
<div class="button-group section">
		<ul class="group">
			<li><a class="button btn-3 btn-3e icon-arrow-right">Primary Button</a></li>
			<li><a class="button btn-3 btn-3e icon-arrow-right secondary">Secondary Button</a></li>
			<li><a class="button btn-3 btn-3e icon-arrow-right tertiary">Tertiary Button</a></li>
		</ul>
	</div>

	<div class="section news">
	<h3>News</h3>
		<ul class="group">
			<li>
				<h4><a href="">Visit Junipero Serra Park with Take A Hike on Saturday, July 6</a></h4>
				<p class="meta">July 18, 2013</p>
				<p class="small">Today, the County of San Mateo Board of Supervisors welcomed three Code for America Fellows. The county is one of just ten sites selected.</p>
				<a href="">Read Link</a>
			</li>
			<li>
				<h4><a href="">Coyote Point Opened</a></h4>
				<p class="meta">July 18, 2013</p>
				<p class="small">In the early morning hours of January 24, over 200 volunteers set out on foot and in cars to count the number of homeless individuals and families in San Mateo County. </p>
				<a href="">Read Link</a>
			</li>
			<li>
				<h4><a href="">Supervisorial District Lines Advisory Committee Meets Thursday in Millbrae</a></h4>
				<p class="meta">July 18, 2013</p>
				<p class="small">Today, the Human Services Agency (HSA) received national re-accreditation through the New York-based Council on Accreditation (COA).</p>
				<a href="">Read Link</a>
			</li>
			<li>
				<h4><a href="">Human Resources Honored</a></h4>
				<p class="meta">July 18, 2013</p>
				<p class="small">Code for America, a San Francisco-based nonprofit that matches technology sector skills to local communities, has selected the County of San Mateo as one of its ten municipal partners for 2013</p>
				<a href="">Read Link</a>
			</li>
		</ul>
	</div>


		<div class="section campaigns group">
			<div class="block campaign seamless">
				<h3>Special Sidebar Feature 1</h3>
				<p>Use this for super-special notices in the sidebar.</p>
				<a href="" class="btn-bar">Join the Conversation</a>
			</div>
			<div class="block campaign seamless">
				<h3>Special Sidebar Feature 2</h3>
				<p>Use this for super-special notices in the sidebar.</p>
				<a href="" class="btn-bar">Join the Conversation</a>
			</div>
			<div class="block campaign seamless">
				<h3>Special Sidebar Feature 3</h3>
				<p>Use this for super-special notices in the sidebar.</p>
				<a href="" class="btn-bar">Join the Conversation</a>
			</div>
		</div>
	

		</div>


	<div class="block hls group">
	<h3 class="reverse">Quick Search</h3>
	<form id="nl-form" class="nl-form">
   I'm looking for 
    <select>
        <option value="1" selected>opportunity... &blacktriangledown;</option>
        <option value="2">employment opportunities</option>
        <option value="3">internship opportunities</option>
        <option value="4">non-profit, agency, or housing opportunities</option>
        <option value="5">help with my resume</option>
        <option value="6">career training</option>
        <option value="7">career planning/development</option>
    </select>
   .
        <div class="nl-overlay"></div>
</form>
	</div>
			<div class="wrapper">
	<footer>
		<p>County of San Mateo - Element Collage - v1.0
	</footer>
			</div>