
<div class="body event-listing">
<div class="main-body group">
	
<header class="group">
<h2 class="page-title">Events</h2>
<a class="show_hide sub-link icon-filter" rel="#event-filter" href="">Filter Events</a>
</header>
<div class="sidebar">
<div class="event-filter" id="event-filter">
	<a class="close show_hide icon-close" href="" rel="#event-filter"></a>
	<h4>Filter Events</h4>
	<ul class="group">
		<li>
			<label>Calendar</label>
			<select>
				<option>Parks Department</option>
				<option>Coyote Point Park</option>
				<option>Crystal Springs</option>
				<option>San Bruno Mountain</option>
				<option>Quary Park</option>
				<option>Pescadaro Creek</option>
			</select>
		</li>
		<li>
			<label>Event Type</label>
				<select>
				<option>Children's Activity</option>
				<option>Concert</option>
				<option>Sports</option>
				<option>Town Halls</option>
			</select>
		</li>
		<li class="date-filter">			
			<label>Date</label>
			<ul class="group">
				<li>
					<label>From</label>
					<input type="date" placeholder="08/01/13">
				</li>
				<li>
					<label>To</label>
					<input type="date" placeholder="08/01/13">
				</li>
			</ul>
		</li>
	</ul>
</div>
</div>
<div class="main-content">
<h3>Thursday, Aug. 1, 2013</h3>
<div class="event group">
	<div class="group">
		<h4>Take A Hike</h4>
		<p class="meta">Party</p>
	</div>
	<div class="event-details group">
		<p class="address"><strong>Location</strong>Junipero Serra Park <br/>1801 Crystal Springs Rd,<br /> San Bruno, CA</p>
		<dl class="time">
			<dt>From</dt>
			<dd>Aug. 1 at 3:00 pm</dd> 
			<dt>To</dt>
			<dd>Aug. 1 2013 at 3:00 pm</dd>
		</dl>
	</div>

	<img src="images/hike.jpg">
	<p class="event-sum">Take A Hike encourages you to discover a County Park each month from April through October. Participants learn about local parks and are encouraged to use the trails to stay active and healthy. This year's schedule features one park that was not included in prior seasons.</p>
		<div class="cta group">
		<a class="btn">View Event</a>
		<a class="btn event-add">Add to Calendar</a>
	</div>
</div>
<h3>Tuesday, Aug. 6, 2013</h3>
<div class="event group">
	<div class="group">
		<h4>Board of Supervisors' Meeting</h4>
		<p class="meta">Meeting</p>
	</div>
	<div class="event-details group">
		<p class="address"><strong>Location</strong>Junipero Serra Park <br/>1801 Crystal Springs Rd,<br /> San Bruno, CA</p>
		<dl class="time">
			<dt>From</dt>
			<dd>Aug. 6, 2013 at 3:00 pm</dd> 
			<dt>To</dt>
			<dd>Aug. 6, 2013 at 3:00 pm</dd>
		</dl>
	</div>
	<p class="event-sum">Take A Hike encourages you to discover a County Park each month from April through October. Participants learn about local parks and are encouraged to use the trails to stay active and healthy. This year's schedule features one park that was not included in prior seasons.</p>
		<div class="cta group">
		<a class="btn">View Event</a>
		<a class="btn event-add">Add to Calendar</a>
	</div>
</div>

<div class="event group">
	<div class="group">
		<h4>San Mateo County Employee Farmers Markets</h4>
		<p class="meta">Party</p>
	</div>
	<div class="event-details group">
		<p class="address"><strong>Location</strong>Junipero Serra Park <br/>1801 Crystal Springs Rd,<br /> San Bruno, CA</p>
		<dl class="time">
			<dt>From</dt>
			<dd>Aug. 6, 2013 at 3:00 pm</dd> 
			<dt>To</dt>
			<dd>Aug. 6, 2013 at 3:00 pm</dd>
		</dl>
	</div>

	<img src="images/hike.jpg">
	<p class="event-sum">Take A Hike encourages you to discover a County Park each month from April through October. Participants learn about local parks and are encouraged to use the trails to stay active and healthy. This year's schedule features one park that was not included in prior seasons.</p>
		<div class="cta group">
		<a class="btn">View Event</a>
		<a class="btn event-add">Add to Calendar</a>
	</div>
</div>
</div>
	</div>
<div class="secondary">

</div>
</div>
