		<h1 class="page-title">San Mateo County <span>Style Guide</span></h1>
		<section class="three-col group">
			<ul class="no-style">
				<h2 class="guide-head">Elements</h2>
				<li><a href="/guide-elements#headings">Headings</a></li>
				<li><a href="/guide-elements#palette">Palette</a></li>
				<li><a href="/guide-elements#paragraph">Paragraph</a></li>
				<li><a href="/guide-elements#lists">Lists</a></li>
				<li><a href="/guide-elements#buttons">Buttons</a></li>
				<li><a href="/guide-elements#meta">Meta Information</a></li>
			</ul>
			<ul class="no-style">
				<h2 class="guide-head">Components</h2>
				<li><a href="/guide-components#callouts">Callouts</a></li>
				<li><a href="/guide-components#teasers">Unified Teaser</a></li>
				<li><a href="/guide-components#teaser-events">Event Teaser</a></li>

			</ul>
		</section>	
