
		<h1 class="page-title">Elements</h1>
		<section>
			<a name="headings"><h2 class="guide-head">Headings</h2></a>
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
		</section>	
		<!--
<section>
			<a name="headings"><h2 class="guide-head">Alt Headings</h2></a>
			<h1>Heading 1 <span>Span</span></h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
		</section>		
-->	
		<section>
			<a name="palette"><h2 class="guide-head">Palette</h2></a>
			<h6>Primary</h6>
			<ul class="palette group">
				<li>#036cb6</li>
				<li>#38939b</li>
				<li>#555a5a</li>
			</ul>
			<h6>Secondary</h6>
			<ul class="palette palette-sec group">
				<li>#0d66a1</li>
				<li>#6b699e</li>
				<li>#8dc63f</li>
				<li>#e98a41</li>
				<li>#852432</li>
			</ul>
		</section>
		<section>
			<a name="paragraph"><h2 class="guide-head">Paragraph</h2></a>
			<pre>font-size: 1em; line-height: 1.6;</pre>
			<p>This is a standard text paragraph that includes an <a href="">inline link</a> for demonstration purposes.</p>
		</section>
		<section>
			<a name="lists"><h2 class="guide-head">Lists</h2></a>
			<h6>Unordered List</h6>
			<ul class="real-list">
				<li>List Item</li>
				<li>List Item</li>
				<li>List Item</li>
				<li>List Item</li>
				<li>List Item</li>
			</ul>
			<h6>Ordered List</h6>
			<ol class="real-list">
				<li>List Item</li>
				<li>List Item</li>
				<li>List Item</li>
				<li>List Item</li>
				<li>List Item</li>
			</ol>
			<h6>Definition List</h6>
			<dl class="real-list">
				<dt>Term</dt>
				<dd>Definition</dd>
				<dt>Term</dt>
				<dd>Definition</dd>
				<dt>Term</dt>
				<dd>Definition</dd>
			</dl>
		</section>		
		<section class="">
			<a name="buttons"><h2 class="guide-head">Buttons</h2></a>
			<h6>Primary Call to Action</h6>
			<p>Use this for a page's primary call to action. Rarely should more than one appear on the same page.</p>
			<ul class="group no-style">
				<li><a href="" class="button btn-3 btn-3e icon-arrow-right">Call to Action Button</a></li>
				<li><a href="" class="button btn-3 btn-3e icon-arrow-right secondary">Call to Action Button</a></li>
				<li><a href="" class="button btn-3 btn-3e icon-arrow-right tertiary">Call to Action Button</a></li>
			</ul>
			<h6>Default Button</h6>
			<p>Use for links of emphasis on a page.</p>
			<ul class="group no-style">
				<li><a href="" class="button btn btn-3 btn-3e small icon-arrow-right">Default Button</a></li>
				<li><a href="" class="button btn btn-3 btn-3e small icon-arrow-right secondary">Default Button</a></li>
				<li><a href="" class="button btn btn-3 btn-3e small icon-arrow-right tertiary">Default Button</a></li>
			</ul>
			<h6>Small Button</h6>
			<p>Use for tinier blocks of content.</p>
			<ul class="group no-style">
				<li><a href="" class="button btn small">Default Button</a></li>
				<li><a href="" class="button btn small secondary">Default Button</a></li>
				<li><a href="" class="button btn small tertiary">Default Button</a></li>
			</ul>
			<!--
<h6>Button Bars</h6>
			<p>Used at the bottom of full-width contained teasers and retain the background color of their container.</p>
			<a href="" class="btn-bar">Call to Action</a>
-->

		</section>
		<section>
			<a name="meta"><h2 class="guide-head">Meta Information</h2></a>
			<pre>class="meta"</pre>
			<p class="meta">Meta Tag</p>
		</section>
<!--
		<section>
			<h2 class="guide-head">Forms</h2>
			<form id="form_id" name="form_name" action="<<**SelectionInsertionPlaceholder**>>" method="post">
				<p><label for="first">Text: </label><input type="text" name="first" id="first" /></p>
				<p><label for="radio">Radio: </label><input type="radio" name="radio" id="radio_one" value="one">One&nbsp;&nbsp;<input type="radio" name="radio" id="radio_two" value="two">Two</p>
				<p><label for="checkbox">Checkbox: </label><input type="checkbox" name="checkbox" id="checkbox" value="checked">Check</p>
				<p><label for="select">Select: </label>
					<select name="select" id="select">
						<option value="alpha">Alpha</option>
						<option value="beta" selected>Beta</option>
					</select>
				</p>
				<p><label for="multiselect">MultiSelect: </label>
				<select name="multiselect" id="multiselect" multiple="multiple" size="2">
					<option value="gamma">Gamma</option>
					<option value="delta">Delta</option>
					<option value="epsilon">Epsilon</option>
					<option value="zeta">Zeta</option>
				</select>
				<p><label for="textarea">Textarea: </label><textarea name="textarea" id="textarea" rows="5" cols="30">Text</textarea></p>
				<p><input type="submit" name="submit" value="submit" /></p>
			</form>
		</section>
-->

