		<h1 class="page-title">Components</h1>
		<section>
			<a name="callouts"><h2 class="guide-head">Callouts</h2></a>
			<p>Components:</p>
			<ul class="real-list">
				<li>Headline</li>
				<li>Image</li>
				<li>Subhead</li>
				<li>Description</li>
				<li>Read Link</li>
			</ul>
			<h6>Standard Callout</h6>
			<p>Used to draw attention to a secondary piece of information at the bottom of smaller breakpoints and right rail of large breakpoints.</p>
			<div class="seamless spotlight vert">
				<h4>Header</h4>
				<img src="http://placehold.it/200x100&text=Image" class="">
			<!-- <h5 class="reverse">Subhead</h5> -->
				<p>Highlight Paragraph</p>
				<a href="" class="btn-bar">Call to Action</a>
			</div>
			
			<div class="campaigns group">
				<h6>Special Callout</h6>
				<p>To be used in special cases (and in isolation) when needing to draw special attention to a secondary piece of content at the bottom of smaller breakpoints and right rail of large breakpoints.</p>
				<ul class="group">
				<li class="block campaign seamless">
					<h4>Special Sidebar 1</h4>
					<img src="http://placehold.it/200x100&text=Image" class="">
					<p>Use this for super-special notices in the sidebar.</p>
					<a href="" class="btn-bar">Call to Action</a>
				</li>
				<li class="block campaign seamless">
					<h4>Special Sidebar 2</h4>
					<img src="http://placehold.it/200x100&text=Image" class="">
					<p>Use this for super-special notices in the sidebar.</p>
					<a href="" class="btn-bar">Call to Action</a>
				</li>
				<li class="block campaign seamless">
					<h4>Special Sidebar 3</h4>
					<img src="http://placehold.it/200x100&text=Image" class="">
					<p>Use this for super-special notices in the sidebar.</p>
					<a href="" class="btn-bar">Call to Action</a>
				</li>
			</ul>
		</div>
		</section>				
		
		<section name="teasers">
			<a name="teasers"><h2 class="guide-head">Unified Teaser</h2></a>
			<p>Components:</p>
			<ul class="real-list">
				<li>Headline</li>
				<li>Meta</li>
				<li>Thumbnail</li>
				<li>Description</li>
				<li>Alt. Information</li>
				<li>Action Links</li>
			</ul>
			<div class="search-results">
			<ul class="results">
					<li class="group">
						<header class="group">
							<h4>Health & Safety Online Course Offerings</h4>
							<span class="meta">Training</span>
						</header>
						<div class="content group">
							<img src="http://placehold.it/80x80" class="thumb">
							<p>These online trainings are available for County and Regional Training and Development Consortium employees.</p>
						</div>
						<ul class="info group">
							<li>						
								<h5><span class="icon-location"> </span>Address</h5>
								<ul class="adr">
									<li>123 Main Street</li>
									<li>San Mateo, CA 9999</li>
								</ul>
							</li>
							<li class="phone">															
								<h5><span class="icon-phone"> </span>Phone</h5>
								<p>1-800-555-1234</p>
							</li>
							<li class="url">																		<h5><span class="icon-link"> </span>URL</h5>
								<a href="">thewebsite.com</a>
							</li>
						</ul>
						<a href="">Read Page</a>
					</li>
				</ul>
			</div>
		</section>
		<section>
		<a name="teaser-events"><h2 class="guide-head">Event Teaser</h2></a>
	<div class="event-teaser">
		<ul class="group">
			<li class="event group">
				<div class="group">
					<h4>Take A Hike</h4>
					<p class="meta">Party</p>
				</div>
				<div class="event-details group">
					<p class="address"><strong>Location</strong>Junipero Serra Park <br/>1801 Crystal Springs Rd,<br /> San Bruno, CA</p>
					<dl class="time">
						<dt>From</dt>
						<dd>Aug. 1 at 3:00 pm</dd> 
						<dt>To</dt>
						<dd>Aug. 1 2013 at 3:00 pm</dd>
					</dl>
				</div>
				<img src="images/hike.jpg">
				<p class="event-sum">Take A Hike encourages you to discover a County Park each month from April through October. Participants learn about local parks and are encouraged to use the trails to stay active and healthy.</p>
		<a class="btn-bar blue">View Event</a>

			</li>
		</ul>
	</div>		
		</section>	
<section>
<a name="site-follow"><h2 class="guide-head">Site Follow Links Block</h2></a>
<div class="">
				<h4>Social</h4>
				<ul class="social-box group">
					<li><a class="icon-twitter" href=""></a></li>
					<li><a class="icon-facebook" href=""></a></li>
					<li><a class="icon-feed-2" href=""></a></li>
					<li><a class="icon-flickr" href=""></a></li>
					<li><a class="icon-youtube" href=""></a></li>
					<li><a class="icon-vimeo" href=""></a></li>
				</ul>
			</div>
</section>
<section>
<a name="carousel"><h2 class="guide-head">Carousel</h2></a>

	<div class="group section-wrap upper" id="upper">
	        <div class="wrap group">
	            <div class="section-2 group">
					<ul id="images" class="rs-slider">
					    <li class="group">
					        <a href="#">
					            <img src="images/5.jpg" alt="" />
					        </a>
					        <div class="rs-caption rs-bottom">
					            <h3>Caption Area</h3>
					            <p>A stunning array of wild flowers makes Edgewood Park a favorite destination for hikers.</p>
					        </div>
					    </li>
					    <li class="group">
					        <a href="#" class="slide-parent">
					            <img src="images/carousel-vert-dark.jpg" alt=""/>
					        </a>
					        <div class="rs-caption rs-bottom">
					            <h3>Caption Area</h3>
					            <p>Get active. Bike, jog, or walk on scenic Crystal Springs Trail.</p>
					        </div>
					    </li>
					    <li class="group">
					    	<a href="">
					        <img src="images/7.jpg" alt=""/>
							<div class="rs-caption rs-bottom">
					            <h3>Caption Area</h3>
					            <p>Like to sail? Make the Coyote Point Marina your launching point to the San Francisco Bay.</p>
					        </div>
					    	</a>
					    </li>
					    <li class="group">
					    	<img src="images/8.jpg" alt=""/>
					    	<div class="rs-caption rs-bottom">
				            	<h3>Caption Area</h3>
				            	<p>Magic Mountain Playground at Coyote Point Recreation Area is kingdom of fun for kids.</p>
				        	</div>
					    </li>
					</ul>
	            </div>
	        </div>
	    </div>
</section>
<section>
	<a name="dept-promo"><h2 class="guide-head">Dept. Promo</h2></a>
	<div class="sidebar">
		<div class="group dept-promo">
			<div class="dept-logo">
				<img src="http://placehold.it/200x200&text=Dept+Logo" style="" alt="County Parks Logo">
			</div>  
			<p>An intro paragraph that succinctly conveys what the department does and what it stands for.</p>
		</div>
	</div>
</section>
</div>
<section class="massive">
	<a name="highlight"><h2 class="guide-head">Highlight</h2></a>

<div class="full right group flexible">
	<div class="content group">
		<div>
			<h3>Highlight Banner</h3>
			<p>A block like this can be used to highlight something special.</p>
			<a class="button btn-3 btn-3e icon-arrow-right tertiary">Action Link</a>
		</div>	
		<img src="/images/3.jpg">

	</div>
</div>
</section>
<section>
	<a name="highlight"><h2 class="guide-head">Related Items</h2></a>
	<div class="secondary">
	<div class="related">
	<h4>Related Items</h4>
	<a href="">Title of Item</a>
	<p>Description of an item that is related to content on this page.</p>
	<a href="">Title of Item</a>
	<p>Description of an item that is related to content on this page.</p>
	<a href="">Title of Item</a>
	<p>Description of an item that is related to content on this page.</p>
	</div>
	</div>
</section>
<div class="limiter">