
		<h1 class="page-title">Layouts</h1>
		<section>
			<ul class="layouts">
			<li><img src="/images/layout-mobile.png"></li>
			<li><img src="/images/layout-1.png"></li>
			<li><img src="/images/layout-2.png"></li>
			<li><img src="/images/layout-3.png"></li>
			<li><img src="/images/layout-4.png"></li>
		</section>

