		<h1 class="page-title">San Mateo County <span>Style Guide</span></h1>
		<section class="three-col group">
			<ul class="no-style">
				<h2 class="guide-head">Prototypes</h2>
				<li><a href="/collage">Element Collage</a></li>
				<li><a href="/home">Home</a></li>
				<li><a href="/home-alert">Home (Alert)</a></li>
				<li><a href="/detail">Detail</a></li>
				<li><a href="/search-results">Search Results</a></li>
				<li><a href="/events">Events Listing</a></li>
			</ul>
			<ul class="no-style">
				<h2 class="guide-head">Elements</h2>
				<li><a href="/guide-elements#headings">Headings</a></li>
				<li><a href="/guide-elements#palette">Palette</a></li>
				<li><a href="/guide-elements#paragraph">Paragraph</a></li>
				<li><a href="/guide-elements#lists">Lists</a></li>
				<li><a href="/guide-elements#buttons">Buttons</a></li>
				<li><a href="/guide-elements#meta">Meta Information</a></li>
				<li><a href="/guide-elements#quote">Blockquote</a></li>
				<li><a href="/guide-elements#tables">Tables</a></li>
				<li><a href="/guide-elements#forms">Forms</a></li>
			</ul>
			<ul class="no-style">
				<h2 class="guide-head">Components</h2>
				<li><a href="/guide-components#callouts">Callouts</a></li>
				<li><a href="/guide-components#teasers">Unified Teaser</a></li>
				<li><a href="/guide-components#teaser-events">Event Teaser</a></li>
								<li><a href="/guide-components#site-follow">Site Follow Links Block</a></li>
																<li><a href="/guide-components#carousel">Carousel</a></li>
																								<li><a href="/guide-components#dept-promo">Department Promo</a></li>
																																<li><a href="/guide-components#highlight">Highlight</a></li>


			</ul>
		</section>	
