

<header>
	<div class="county">
		<span>County of San Mateo</span>
	</div>
	<div class="dept">
		<h2>Dept. Name</h2>
	</div>
	<nav class="county">
		<ul>
			<li><a href="">Link</a></li>
			<li><a href="">Link</a></li>
			<li><a href="">Link</a></li>
		</ul>
	</nav>
	<div class="search group section">
			<input type="search" placeholder="Search..">
			<a class="btn btn-5 btn-5a icon-remove" href=""><span class=" icon-mag-glass-02" aria-hidden="true"></span></a>		
	</div>
		<div class="main hideme expander">
		<div class="content">
		<nav>
		<ul>
			<li><a href="">Activities</a></li>
			<li><a href="">Parks</a></li>
			<li><a href="">Trails</a></li>
			<li><a href="">Events</a></li>
			<li><a href="">Reservations</a></li>
			<li><a href="">Park Commission</a></li>
			<li><a href="">Contact</a></li>
		</ul>
		</nav>
		</div>
		<ul class="icon-menu">
<!--
			<li><a href="">Activities</a></li>
			<li><a href="">Parks</a></li>
			<li><a href="">Trails</a></li>
			<li><a href="">Events</a></li>
			<li><a href="">Reservations</a></li>
			<li><a href="">Park Commmission</a></li>
			<li><a href="">Contact</a></li>
-->
		</ul>
	</div>
</header>

<h1>Reservations</h1>

<h2>Making a Reservation</h2>

<h3>Online</h3>
<p>Facilities within San Mateo County Parks may be reserved using our on line reservations system. To reserve a site navigate to the park you wish to use and read under "Reservations" or go directly to the facility you wish to reserve via our Facilities Index. If you know which facility you wish to reserve go directly to our on line reservation system.</p>

<h3>By Phone</h3>
<p>Facilities can also be reserved by calling our reservation desk:</p>

