

<header>
	<div class="county-brand">
		<span class="county-name">County<span>of</span>San Mateo</span>
	</div>
	<div class="dept-brand">
		<h2 class="dept-name">Department of Parks</h2>
	</div>
<!--
	<nav class="county">
		<ul>
			<li><a href="">Link</a></li>
			<li><a href="">Link</a></li>
			<li><a href="">Link</a></li>
		</ul>
	</nav>
-->
</header>

	<div class="search group section">
			<input type="search" placeholder="Search..">
			<a class="btn btn-5 btn-5a icon-remove" href=""><span class=" icon-mag-glass-02" aria-hidden="true"></span></a>		
	</div>
		<div class="main hideme expander">
		<div class="content">
		<nav>
		<ul>
			<li><a href="">Activities</a></li>
			<li><a href="">Parks</a></li>
			<li><a href="">Trails</a></li>
			<li><a href="">Events</a></li>
			<li><a href="">Reservations</a></li>
			<li><a href="">Park Commission</a></li>
			<li><a href="">Contact</a></li>
		</ul>
		</nav>
		</div>
		<ul class="icon-menu">
<!--
			<li><a href="">Activities</a></li>
			<li><a href="">Parks</a></li>
			<li><a href="">Trails</a></li>
			<li><a href="">Events</a></li>
			<li><a href="">Reservations</a></li>
			<li><a href="">Park Commmission</a></li>
			<li><a href="">Contact</a></li>
-->
		</ul>
	</div>
</header>

<h1>Reservations</h1>

<h2>Making a Reservation</h2>

<h3>Online</h3>
<p>Facilities within San Mateo County Parks may be reserved using our on line reservations system. To reserve a site navigate to the park you wish to use and read under "Reservations" or go directly to the facility you wish to reserve via our Facilities Index. If you know which facility you wish to reserve go directly to our on line reservation system.</p>

<h3>By Phone</h3>
<p>Facilities can also be reserved by calling our reservation desk:</p>

<h3>In Person</h3>
<p>You can also book a reservation by visiting the Parks Department Office (555 County Center, 5th Floor, Redwood City) during the business hours listed above.</p>

<h2>Before Making a Reservation</h2>

<p>Payment Method - When making a reservation over the phone, please have your credit card information ready (VISA or MASTERCARD only). Cash and check payments are accepted when making a reservation in person at the reservation desk.</p>

<p>Regulations - Before making a reservation, please familiarize yourself with park regulations.</p>

<p>Availability - Please note that reservable facilities may be reserved a year in advance and tend to fill up early. Group camping areas and horse camps typically fill one year in advance. Group picnic areas typically fill 3-6 months in advance. Also note, some sites are open year round, while others (all of them camping sites) are open only from the 2nd Sunday in May through October 31st. Please check the individual facilities' pages for availability information.</p>

<p>Jumpers - Jumpers are allowed in select Reservation Sites only at Coyote Point park, Flood Park, Junipero Serra Park (except Buckeye), and San Pedro Valley park. An additional fee of $90.00 is required and jumpers are allowed only after payment is accepted, and permit issued from the Reservation Office. All paper work, and payments must be submitted a minimum of one week prior to the date of your reservation. Please call the reservations desk for details @ 650.363.4021.</p>

<p>Usage - Usage varies among county facilities. Some uses include group, family, or youth camping, or group or family picnicking.</p>

<p>Vehicle Entry - Reservation fee does not include a vehicle entry fee or bus entry fee.</p>

<p>Cancellation - A fee will be incurred for a cancellation of a reservation. This fee is not refundable.</p>

<p>Refunds - For a reservation refund, requests must be made at least 15 days prior to the date of your event. Cancellation fees still apply. See fees and charges for specific refund information.</p>