

<header class="group">
	<div class="inner">
	<div class="fold">
	</div>
	<div class="lockup group">
		<a href=""><h2 class="county-name">County<span>of</span>San Mateo</h2></a>
		<a href=""><h2 class="dept-name">Human Resources Department</h2></a>
	</div>
	
	<a class="btn btn-nav" href=""><span class="icon-menu" aria-hidden="true"></span></a>
<!--
	<nav class="county">
		<ul>
			<li><a href="">Link</a></li>
			<li><a href="">Link</a></li>
			<li><a href="">Link</a></li>
		</ul>
	</nav>
-->

		<div class="main hideme expander">
		<div class="content">
		<div class="search group section">
			<input type="search" placeholder="Search..">
			<a class="btn btn-5 btn-5a icon-remove" href=""><span class=" icon-mag-glass-02" aria-hidden="true"></span></a>
			<a class="dept-link" href=""> View Departments</a>		
		</div>

		<nav class="primary">
		<ul class="group">
			<li class="home"><a href=""></a>
			<li><a href="">Activities</a></li>
			<li><a class="sub-nav" href="">Parks</a>
				<ul>
					<li><a href="">Brochures</a></li>
					<li><a href="">Facilities</a></li>
					<li><a href="">Rules & Regulations</a></li>
					<li><a href="">Be Aware</a></li>
				</ul>
			</li>
			<li><a href="">Trails</a></li>
			<li><a href="">Events</a></li>
			<li><a href="">Reservations</a></li>
			<li><a href="">Park Commission</a></li>
			<li><a href="">Contact</a></li>
		</ul>
		</nav>
		</div>
		<ul class="icon-menu">
<!--
			<li><a href="">Activities</a></li>
			<li><a href="">Parks</a></li>
			<li><a href="">Trails</a></li>
			<li><a href="">Events</a></li>
			<li><a href="">Reservations</a></li>
			<li><a href="">Park Commmission</a></li>
			<li><a href="">Contact</a></li>
-->
		</ul>
	</div>
	</div>
	</div>
</header>

