
	<div id="dept-switch">
		<a class="close show_hide icon-close" href="" rel="#dept-switch"></a>
		<h2>Departments</h2>
		<ul class="group">
			<li><a href="">Agriculture Weights and Measures</a></li>
			<li><a href="">Assessor, County Clerk-Recorder &amp;&nbsp;Chief Elections Officer</a></li>
			<li><a href="">Board of Supervisors</a></li>
			<li><a href="">Child Support Services</a></li>
			<li><a href="">Controller</a></li>
			<li><a href="">Coroner</a></li>
			<li><a href="">County Counsel</a></li>
			<li><a href="">County Managers Office/Clerk of the Board</a></li>
			<li><a href="">Courts</a></li>
			<li><a href="">District Attorney</a></li>
			<li><a href="">Fire Protection Services</a></li>
			<li><a href="">Health System</a></li>
			<li><a href="">Housing (Department of Housing)</a></li>
			<li><a href="">Human Resources Department</a></li>
			<li><a href="">Human Services Agency</a></li>
			<li><a href="">Information Services Department</a></li>
			<li><a href="">Parks Department</a></li>
			<li><a href="">Planning and Building</a></li>
			<li><a href="">Probation</a></li>
			<li><a href="">Public Works</a></li>
			<li><a href="">SamCERA (Retirement)</a></li>
			<li><a href="">San Mateo County Library</a></li>
			<li><a href="">Sheriff's Office</a></li>
			<li><a href="">Tax Collector / Treasurer / Revenue Services</a></li>
		</ul>
	</div>
<header class="group">
	<div class="inner">
	<div class="lockup group">
		<a href=""><h2 class="county-name">County<span>of</span>San Mateo</h2></a>
		<a href=""><h2 class="dept-name">Human Resources Department</h2></a>
	</div>
	
	<a class="btn btn-nav" href=""><span class="icon-menu" aria-hidden="true"></span></a>
<!--
	<nav class="county">
		<ul>
			<li><a href="">Link</a></li>
			<li><a href="">Link</a></li>
			<li><a href="">Link</a></li>
		</ul>
	</nav>
-->

		<div class="main hideme expander">
		<div class="content">
					<a class="dept-link show_hide" rel="#dept-switch" href="">View All Departments</a>		

		<div class="search group section">
			<input type="search" placeholder="Search..">
			<a class="btn btn-5 btn-5a icon-remove" href=""><span class=" icon-mag-glass-02" aria-hidden="true"></span></a>
		</div>

		<nav class="primary">
		<ul class="group">
			<li class="home"><a href=""></a>
			<li><a href="">Activities</a></li>
			<li><a class="sub-nav" href="">Parks</a>
				<ul>
					<li><a href="">Brochures</a></li>
					<li><a href="">Facilities</a></li>
					<li><a href="">Rules & Regulations</a></li>
					<li><a href="">Be Aware</a></li>
				</ul>
			</li>
			<li><a href="">Trails</a></li>
			<li><a href="">Events</a></li>
			<li><a href="">Reservations</a></li>
			<li><a href="">Park Commission</a></li>
			<li><a href="">Contact</a></li>
		</ul>
		</nav>
		</div>
		<ul class="icon-menu">
<!--
			<li><a href="">Activities</a></li>
			<li><a href="">Parks</a></li>
			<li><a href="">Trails</a></li>
			<li><a href="">Events</a></li>
			<li><a href="">Reservations</a></li>
			<li><a href="">Park Commmission</a></li>
			<li><a href="">Contact</a></li>
-->
		</ul>
	</div>
	</div>
	</div>
</header>

