<div class="row">
	<div class="large-12">
		<h3>Our Services</h3>
		<ul class="home-services">		
			<li class="large-3 columns">
				<span class=""><img src="images/modular-g.svg"></span>
				<h4 class="panel-title">Modular Execution Expert</h4>
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</p>
			</li>
			
			<li class="large-3 columns">
				<span class=""><img src="images/specialist-g.svg"></span>
				<h4>New Product Launch Specialist</h4>
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</li>
			
			<li class="large-3 columns">
				<span class=""><img src="images/analytics-g.svg"></span>
				<h4>Customized Analytics</h4>
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</p>
			</li>
			
			<li class="large-3 columns">
				<span class=""><img src="images/on-shelf-g.svg"></span>
				<h4>On Shelf Availability</h4>
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			</li>	
		</ul>
	</div>
</div>