<div class="row">
		<h3>Our Services</h3>
		<ul class="home-services">
			<li class="large-3 columns">
				<span class=""><img src="images/modular-g.svg"></span>
				<h4 class="panel-title">Modular Execution Expert</h4>
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</p>
			</li>

			<li class="large-3 columns">
				<span class=""><img src="images/specialist-g.svg"></span>
				<h4>New Product Launch Specialist</h4>
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</li>

			<li class="large-3 columns">
				<span class=""><img src="images/analytics-g.svg"></span>
				<h4>Customized Analytics</h4>
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod.</p>
			</li>

			<li class="large-3 columns">
				<span class=""><img src="images/on-shelf-g.svg"></span>
				<h4>On Shelf Availability</h4>
				<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			</li>
		</ul>
</div>
<div class="row">
	<div class="large-12 columns">
        <div class="panel-pane pane-fieldable-panels-pane pane-bundle-image-text logo-panel" >
          <h3 class="pane-title">Brands We Serve</h3>
          <div class="pane-content">
            <div class="fieldable-panels-pane">
    <div class="flexslider logo-slider carousel">
      <ul class="slides">
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/walmart-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/post-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/crayola-logo.png" /></a>
        </li>
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/tmobile-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/vizio-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/stanley-logo.png" /></a>
        </li>
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/blackndecker-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/warnerhome-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/paramount-logo.png" /></a>
        </li>
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/att-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/bestbuy-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/universalhome-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/randmcnally-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/ticketmaster-logo.png" /></a>
        </li>
      </ul>
    </div>
    </div></div></div>
	</div>
</div>
