</div>

<div class="hero">
	<div class="large-12">
		<h2 class="title"><span class="highlight">Reaching the world's largest retailers throughout North America executing the most sophisticated and integrated in-store marketing and merchandising initiatives.</span></h2>
		<div class="group">

			<div class="home-hero-cta">
				<a class="button large">Get a Quote</a>
				<a class="button large secondary">Read more</a>
			</div>
			<blockquote>Anderson's reputation: Don't know when Anderson is in the store, but notice when they are not.
				<cite>Mike Moore, EVP Walmart Central</cite>
			</blockquote>
		</div>
	</div>
	<div id="cf3">
		<img class="bottom" src="images/hero-1.jpg" />
		<img class="top" src="images/hero-2.jpg" />
	</div>
</div>

<div class="wrapper">
<div class="row">
		<h3>Our Services</h3>
		<ul class="home-services">
			<li class="large-3 columns">
				<span class=""><img src="images/modular-g.svg"></span>
				<h4 class="panel-title">Modular Execution Expert</h4>
				<p>Over 4500 Retail Sales and Execution Experts with an average tenure of 8.9 years with unmatched in-store relationships from the backroom to the front door.</p>
			</li>

			<li class="large-3 columns">
				<span class=""><img src="images/specialist-g.svg"></span>
				<h4>New Product Launch Specialist</h4>
				<p>Proprietary technology Dash Management:  Anderson Merchandisers' full suite of integrated systems is designed to manage, execute, measure and report in-store performance and sales results.</p>
			</li>

			<li class="large-3 columns">
				<span class=""><img src="images/analytics-g.svg"></span>
				<h4>Customized Analytics</h4>
				<p>Category merchandising methodology focuses on category on-shelf-availability (OSA), on-hand accuracy, modular execution, and trait management with a syndicated low cost model.</p>
			</li>

			<li class="large-3 columns">
				<span class=""><img src="images/on-shelf-g.svg"></span>
				<h4>On Shelf Availability</h4>
				<p>Create, manufacture, distribute, install, and maintain over 4,000,000 Signs and POP elements annually.</p>
			</li>
		</ul>
</div>
<div class="row">
	<div class="large-12 columns">
        <div class="panel-pane pane-fieldable-panels-pane pane-bundle-image-text logo-panel" >
          <h3 class="pane-title">Brands We Serve</h3>
          <div class="pane-content">
            <div class="fieldable-panels-pane">
    <div class="flexslider logo-slider carousel">
      <ul class="slides">
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/walmart-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/post-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/crayola-logo.png" /></a>
        </li>
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/tmobile-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/vizio-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/stanley-logo.png" /></a>
        </li>
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/blackndecker-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/warnerhome-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/paramount-logo.png" /></a>
        </li>
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/att-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/bestbuy-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/universalhome-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/randmcnally-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/ticketmaster-logo.png" /></a>
        </li>
      </ul>
    </div>
    </div></div></div>
	</div>
</div>

<div class="row">
	<div class="large-12">
		<h3>What People Are Saying</h3>
		<blockquote>"Working for Anderson Merchandisers takes commitment, but can also be very rewarding. Our families share in that commitment, but they can also share in the rewards."</blockquote>
		<p>Sean Curran</p>
		<p>Tenure: 15 Years</p>
	</div>
</div>
