
<div class="body dept-home">

	<div class="main-body group">
		<div class="sidebar">
			<div class="group dept-promo">
				<div class="dept-logo">
					<img src="/images/parks-logo.png" style="" alt="County Parks Logo">
				</div>  
				<p>We provide recreational opportunities in a safe and effective manner <span class="amp">&</span> protect and enhance the natural resources of the County.</p>
			</div>

							</div>
		<div class="main-content">
<div class="hls hls-light group">
				<span class="icon-info"></span><h4 class="reverse">How Do I..</h4>
				<form id="nl-form" class="nl-form">
					 
					<select>
				        <option value="1" selected>choose topic... &blacktriangledown;</option>
				        <option value="2">find a park</option>
				        <option value="3">view closures</option>
				        <option value="4">book a reservation</option>
				        <option value="5">file a report</option>
					</select>
					?
					<div class="nl-overlay"></div>
				</form>
				

			</div>
<div class="section group">
			<div class="group section-wrap upper" id="upper">
	        <div class="wrap group">
	            <div class="section-2 group">
					<ul id="images" class="rs-slider">
					    <li class="group">
					        <a href="#">
					            <img src="images/5.jpg" alt="" />
					        </a>
					        <div class="rs-caption rs-bottom">
					            <h3>Caption Area</h3>
					            <p>A stunning array of wild flowers makes Edgewood Park a favorite destination for hikers.</p>
					        </div>
					    </li>
					    <li class="group">
					        <a href="#" class="slide-parent">
					            <img src="images/carousel-vert-dark.jpg" alt=""/>
					        </a>
					        <div class="rs-caption rs-bottom">
					            <h3>Caption Area</h3>
					            <p>Get active. Bike, jog, or walk on scenic Crystal Springs Trail.</p>
					        </div>
					    </li>
					    <li class="group">
					    	<a href="">
					        <img src="images/7.jpg" alt=""/>
							<div class="rs-caption rs-bottom">
					            <h3>Caption Area</h3>
					            <p>Like to sail? Make the Coyote Point Marina your launching point to the San Francisco Bay.</p>
					        </div>
					    	</a>
					    </li>
					    <li class="group">
					    	<img src="images/8.jpg" alt=""/>
					    	<div class="rs-caption rs-bottom">
				            	<h3>Caption Area</h3>
				            	<p>Magic Mountain Playground at Coyote Point Recreation Area is kingdom of fun for kids.</p>
				        	</div>
					    </li>
					</ul>
	            </div>
	        </div>
	    </div>
	</div>

		</div>
		<div class="secondary group">
		<!--
<div class="hls group">
				<h4 class="reverse icon-mag-glass-02">How Do I..</h4>
				<form id="nl-form" class="nl-form">
					I'm looking for 
					<select>
				        <option value="1" selected>opportunity... &blacktriangledown;</option>
				        <option value="2">reservations</option>
				        <option value="3">closures</option>
				        <option value="4">non-profit, agency, or housing opportunities</option>
				        <option value="5">help with my resume</option>
				        <option value="6">career training</option>
				        <option value="7">career planning & development</option>
					</select>
					.
					<div class="nl-overlay"></div>
				</form>
				

			</div>
-->

			<div class="seamless spotlight vert">
				<h4>County Spotlight</h4>
				<img src="http://www.co.sanmateo.ca.us/Attachments/SMC/Images/Rotating%20Banner/banner_shared_vision_report.png" class="">
				<h5 class="reverse">Shared Vision Report</h5>
				<p>View our Report on where we're headed in the future.</p>
				<a href="" class="btn-bar">View the Report
				</a>
			</div>
			<div class="block">
			<h4>Make a Reservation</h4>
				<p>Reserving a camp site, picnic site or other park facility online is easy.</p>
				<a href="" class="button btn btn-3 btn-3e default icon-arrow-right">Get Started</a>
			</div>

			
		
					</div>
	
	</div>
		<div class="section news">
		<h3>News</h3>
		<ul class="group">
			<li>
				<img src="http://placehold.it/80x80">
				<h4><a href="">Visit Junipero Serra Park with Take A Hike on Saturday, July 6</a></h4>
				<p class="meta">July 18, 2013</p>
				<p class="small">Today, the County of San Mateo Board of Supervisors welcomed three Code for America Fellows. The county is one of just ten sites selected.</p>
<!-- 				<a class="" href="">Read Link</a> -->
			</li>
			<li>
				<img src="http://placehold.it/80x80">
				<h4><a href="">Coyote Point Opened</a></h4>
				<p class="meta">July 18, 2013</p>
				<p class="small">In the early morning hours of January 24, over 200 volunteers set out on foot and in cars to count the number of homeless individuals and families in San Mateo County. </p>
<!-- 				<a class="" href="">Read Link</a> -->
			</li>
			<li>
<h4><a href="">Supervisorial District Lines Advisory Committee Meets Thursday in Millbrae</a></h4>
				<p class="meta">July 18, 2013</p>
				<p class="small">Today, the Human Services Agency (HSA) received national re-accreditation through the New York-based Council on Accreditation (COA).</p>
<!-- 				<a class="" href="">Read Link</a> -->
			</li>
		</ul>
	</div>
	<div class="section event-teaser">
		<h3>Events</h3>
		<ul class="group">
			<li class="event group">
				<div class="group">
					<h4>Take A Hike</h4>
					<p class="meta">Party</p>
				</div>
				<div class="event-details group">
					<p class="address"><strong>Location</strong>Junipero Serra Park <br/>1801 Crystal Springs Rd,<br /> San Bruno, CA</p>
					<dl class="time">
						<dt>From</dt>
						<dd>Aug. 1 at 3:00 pm</dd> 
						<dt>To</dt>
						<dd>Aug. 1 2013 at 3:00 pm</dd>
					</dl>
				</div>
				<img src="images/hike.jpg">
				<p class="event-sum">Take A Hike encourages you to discover a County Park each month from April through October. Participants learn about local parks and are encouraged to use the trails to stay active and healthy.</p>
		<a class="btn-bar blue">View Event</a>

			</li>
			
	<li class="event group">
				<div class="group">
		<h4>San Mateo County Employee Farmers Markets</h4>
		<p class="meta">Party</p>
	</div>
	<div class="event-details group">
		<p class="address"><strong>Location</strong>Junipero Serra Park <br/>1801 Crystal Springs Rd,<br /> San Bruno, CA</p>
		<dl class="time">
			<dt>From</dt>
			<dd>Aug. 6, 2013 at 3:00 pm</dd> 
			<dt>To</dt>
			<dd>Aug. 6, 2013 at 3:00 pm</dd>
		</dl>
	</div>

	<img src="images/hike.jpg">
	<p class="event-sum">Take A Hike encourages you to discover a County Park each month from April through October. Participants learn about local parks and are encouraged to use the trails to stay active and healthy. </p>
		<a class="btn-bar blue">View Event</a>

			</li>

			<li class="event group">
				<div class="group">
		<h4>Board of Supervisors' Meeting</h4>
		<p class="meta">Meeting</p>
	</div>
	<div class="event-details group">
		<p class="address"><strong>Location</strong>Junipero Serra Park <br/>1801 Crystal Springs Rd,<br /> San Bruno, CA</p>
		<dl class="time">
			<dt>From</dt>
			<dd>Aug. 6, 2013 at 3:00 pm</dd> 
			<dt>To</dt>
			<dd>Aug. 6, 2013 at 3:00 pm</dd>
		</dl>
	</div>
	<p class="event-sum">Take A Hike encourages you to discover a County Park each month from April through October. Participants learn about local parks and are encouraged to use the trails to stay active and healthy.</p>
		<a class="btn-bar blue">View Event</a>

			</li>


		</ul>
	</div>


	</div>
