</div>

<div class="hero">
	<div class="large-12">
		<h2 class="title"><span class="highlight">Reaching the world's largest retailers throughout North America executing the most sophisticated & integrated in-store marketing & merchandising initiatives.</span></h2>
		<div class="group">

			<div class="home-hero-cta group">
				<a class="button large">Get a Quote</a>
				<a class="button large secondary">Read more</a>
			</div>
			<blockquote>"Anderson's reputation: Don't know when Anderson is in the store, but notice when they are not."
				<cite>Mike Moore, EVP Walmart Central</cite>
			</blockquote>
		</div>
	</div>
	
<!--
	<div id="cf3">
		<img class="bottom" src="images/hero-1.jpg" />
		<img class="top" src="images/hero-2.jpg" />
	</div>
-->

	<div id="cf3">
		<span data-picture data-alt="">
	        <span class="bottom" data-src="images/hero-1-small.jpg"></span>
	        <span class="bottom" data-src="images/hero-1.jpg"      data-media="(min-width: 640px)"></span>
	
	        <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
	        <noscript>
	            <img src="images/hero-1-small.jpg" alt="">
	        </noscript>
	    </span>
	    <span data-picture data-alt="">
	        <span class="top" data-src="images/hero-2-small.jpg"></span>
	        <span class="top" data-src="images/hero-2.jpg"      data-media="(min-width: 640px)"></span>
	
	        <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
	        <noscript>
	            <img src="images/hero-2-small.jpg" alt="">
	        </noscript>
	    </span>
	</div>
    
</div>

<div class="wrapper">
<div class="row">
  <div class="panel-pane pane-fieldable-panels-pane pane-bundle-rotator" >
    <h3 class="pane-title">Approach</h3>

	  <div class="pane-content">
	    <div class="fieldable-panels-pane">
	    <div class="field field-name-field-rotator-slides field-type-field-collection field-label-hidden field-wrapper" data-edit-id="fieldable_panels_pane/66/field_rotator_slides/und/full"><div  id="flexslider-1" class="flex-flexslider flexslider">
	  <ul class="slides">
	  	<li>
	  		<div class="row">
	      <div class="slide-content large-6 columns">
	      	<div class="field field-name-field-slide-title field-type-text field-label-hidden field-wrapper">1. Collaboration</div><div class="field field-name-field-subtitle field-type-text field-label-hidden field-wrapper"><p>Continuous communication in defining strategic goals and expectations regarding all marketing and merchandising initiatives</p></div>
	      </div>
	  	  <div class="slide-quote large-6 columns">Quote Text<div class="field field-name-field-picture field-type-field-collection field-label-hidden field-wrapper"><img src="http://lorempixel.com/450/250/nature" alt=""/></div>
	      </div>
	      </div>
	    </li>
      <li>
	  		<div class="row">
	      <div class="slide-content large-6 columns">
	      	<div class="field field-name-field-slide-title field-type-text field-label-hidden field-wrapper">2. Pre-Sale and Awareness</div><div class="field field-name-field-subtitle field-type-text field-label-hidden field-wrapper"><p>To ensure highest possible results, Anderson Merchandisers, in collaboration with Best Buy, will design, implement, and deliver effective pre-sale communication to sales management and reps, store operations at all levels, and consumers as applicable.</p></div>
	      </div>
	  	  <div class="slide-quote large-6 columns">Quote Text<div class="field field-name-field-picture field-type-field-collection field-label-hidden field-wrapper"><img src="http://lorempixel.com/450/250/nature" alt=""/></div>
	      </div>
	      </div>
	    </li>
      <li>
	  		<div class="row">
	      <div class="slide-content large-6 columns">
	        <div class="field field-name-field-slide-title field-type-text field-label-hidden field-wrapper">3. Implementation</div><div class="field field-name-field-subtitle field-type-text field-label-hidden field-wrapper"><p>Implementation processes clearly define and ensure timely results of desired goals and executional expectations. <a class="btn btn-small btn-green" href="rackspace-cloud">Button</a></p></div>
	        </div>
	  	  <div class="slide-quote large-6 columns">Quote Text<div class="field field-name-field-picture field-type-field-collection field-label-hidden field-wrapper"><img src="http://lorempixel.com/450/250/nature" alt=""/></div>
	      </div>
	      </div>
      </li>
      <li>
	  		<div class="row">
	      <div class="slide-content large-12 columns">
	        <div class="field field-name-field-slide-title field-type-text field-label-hidden field-wrapper">4. Reporting</div><div class="field field-name-field-subtitle field-type-text field-label-hidden field-wrapper"><p>By leveraging enhanced DASH AnalyticsTM, we provide real-time survey and Sales Enabled Dashboards that allow for immediate program adjustments based on in-store insights, sales and inventory productivity..</p></div>
	      </div>
	      </div>
	    </li>
      <li>
 	  		<div class="row">
	        <div class="slide-content large-6 columns">
            <div class="field field-name-field-slide-title field-type-text field-label-hidden field-wrapper">5. Post Reporting</div><div class="field field-name-field-subtitle field-type-text field-label-hidden field-wrapper"><p>Immediate follow-up to Walmart and/or appropriate suppliers, store operations, and merchants (if applicable) leveraging results to identify newest opportunities to drive future business goals.</p>
            </div>
          </div>
			  	<div class="slide-quote large-6 columns">Quote Text<div class="field field-name-field-picture field-type-field-collection field-label-hidden field-wrapper"><img src="http://lorempixel.com/450/250/nature" alt=""/></div>
			    </div>
	      </div>
	    </li>
	</ul></div>
	</div></div>
	  </div>


  </div>
</div>
<div class="row">
  <div class="small-12 columns">
		<h3>Our Services</h3>
	</div>
		<ul class="home-services">
			<li class="small-12 medium-3 columns">
				<span class=""><img src="images/modular-g.svg"></span>
				<h4 class="panel-title">Modular Execution Expert</h4>
				<p>Over 4500 Retail Sales and Execution Experts with an average tenure of 8.9 years with unmatched in-store relationships from the backroom to the front door.</p>
			</li>

			<li class="small-12 medium-3 columns">
				<span class=""><img src="images/specialist-g.svg"></span>
				<h4>New Product Launch Specialist</h4>
				<p>Proprietary technology Dash Management:  Anderson Merchandisers' full suite of integrated systems is designed to manage, execute, measure and report in-store performance and sales results.</p>
			</li>

			<li class="small-12 medium-3 columns">
				<span class=""><img src="images/analytics-g.svg"></span>
				<h4>Customized Analytics</h4>
				<p>Category merchandising methodology focuses on category on-shelf-availability (OSA), on-hand accuracy, modular execution, and trait management with a syndicated low cost model.</p>
			</li>

			<li class="small-12 medium-3 columns">
				<span class=""><img src="images/on-shelf-g.svg"></span>
				<h4>On Shelf Availability</h4>
				<p>Create, manufacture, distribute, install, and maintain over 4,000,000 Signs and POP elements annually.</p>
			</li>
		</ul>
</div>
<div class="row">
	<div class="large-12 columns">
        <div class="panel-pane pane-fieldable-panels-pane pane-bundle-image-text logo-panel" >
          <h3 class="pane-title">Brands We Serve</h3>
          <div class="pane-content">
            <div class="fieldable-panels-pane">
    <div class="flexslider logo-slider carousel">
      <ul class="slides">
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/walmart-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/post-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/crayola-logo.png" /></a>
        </li>
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/tmobile-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/vizio-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/stanley-logo.png" /></a>
        </li>
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/blackndecker-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/warnerhome-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/paramount-logo.png" /></a>
        </li>
        <li>
          <a href="http://amerch.com" target="_blank"><img src="images/logos/att-logo.png" /></a>
        </li>
        <li>
          <a href="http://postfoods.com" target="_blank"><img src="images/logos/bestbuy-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/universalhome-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/randmcnally-logo.png" /></a>
        </li>
        <li>
          <a href="http://crayola.com" target="_blank"><img src="images/logos/ticketmaster-logo.png" /></a>
        </li>
      </ul>
    </div>
    </div></div></div>
	</div>
</div>