<div class="body search-results colmask threecol">
	<h2 class="page-title">Search Results</h2>
	<div class="main-body group colmid">
		<div class="colleft">
<!--
			<header class="group">
			<h2 class="page-title">Search Results</h2>
			<a class="show_hide sub-link icon-filter" rel="#event-filter" href="">Filter Events</a>
			</header>
-->
			<div class="main-content col1">

				<div class="search-large">
					<div class="search group section">
						<input type="search" placeholder="Search Term">
						<a class="btn btn-5 btn-5a icon-remove" href=""><span class=" icon-mag-glass-02" aria-hidden="true"></span></a>
					</div>	
				</div>
				<ul class="results">
					<li>
						<h4>Code for America Team Arrives in San Mateo County to Strengthen the Food Safety Net</h4>
						<span class="meta">Feb 13, 2013</span>
						<p>Redwood City, Calif Today, the County of San Mateo Board of Supervisors welcomed three Code for America Fellows. The county is one of just ten sites selected</p>
						<a href="">Read Press Release</a>
					</li>
			</div>
		<div class="sidebar col2">
			<div class="event-filter" id="event-filter">
				<a class="close show_hide icon-close" href="" rel="#event-filter"></a>
				<h4>Filter Events</h4>
				<label>Calendar</label>
				<select>
					<option>Parks Department</option>
					<option>Coyote Point Park</option>
					<option>Crystal Springs</option>
					<option>San Bruno Mountain</option>
					<option>Quary Park</option>
					<option>Pescadaro Creek</option>
				</select>
				
				<label>Event Type</label>
					<select>
					<option>Children's Activity</option>
					<option>Concert</option>
					<option>Sports</option>
					<option>Town Halls</option>
				</select>
				
				<label>Date</label>
				<ul class="date-filter group">
					<li>
						<label>From</label>
						<input type="date" placeholder="08/01/13">
					</li>
					<li>
						<label>To</label>
						<input type="date" placeholder="08/01/13">
					</li>
				</ul>
			</div>
		</div>
		<div class="col3">
			<p>Text</p>
		</div>
	</div>
</div>
</div>
