				<div class="body search-results">
	<div class="main-body group">
		<header class="group">
			<h2 class="page-title">Search Results <span>for 
			“search term”</span></h2>
		<a class="show_hide sub-link icon-filter" rel="#event-filter" href="">Search Filters</a>
		</header>

		<div class="sidebar">
		<div class="search-filter" id="event-filter">
	<a class="close show_hide icon-close" href="" rel="#event-filter"></a>
	<h4>Filter Results</h4>
	<ul class="group">
		<li>
			<label>Sites</label>
			<select>
						<option class="placeholder">Select Site...</option>
		
				<option>Department Sites</option>
			</select>
		</li>
		<li>
			<label>Type</label>
			<select>
				<option class="placeholder">Select Type...</option>
				<option>Blog Entries</option>
				<option>Documents</option>
				<option>Media</option>
				<option>Press Releases</option>
				<option>Profiles</option>
				<option>Services</option>
			</select>
		</li>
		<li>
			<label>Subject</label>
		<select>
				<option class="placeholder">Select Subject...</option>
	
			<option>Development & Planning</option>
			<option>Doing Business</option>
			<option>Budget</option>
			<option>Human Resources</option>
			<option>Parks</option>
			<option>Pets & Livestock</option>
			<option>Recylcing</option>
			<option>Transportation</option>
			<option>Visiting</option>
			<option>Working</option>
		</select>
		</li>
		<li>
			<label>Document Type</label>
			<select>
				<option class="placeholder">Select Doc Type...</option>
				<option>Brochures</option>
				<option>Directories</option>
				<option>Forms</option>
				<option>New Residents</option>
				<option>Records</option>
				<option>Registration</option>
			</select>
		</li>
		<li>
			<label>Services</label>
			<select>
				<option class="placeholder">Select Service...</option>		
				<option>Forms</option>
				<option>Accounts</option>
				<option>Pickups</option>
				<option>Press Releases</option>
				<option>Profiles</option>
				<option>Online</option>
			</select>
		</li>
		<li>
			<label>Authors</label>
			<select>
				<option class="placeholder">Select Author...</option>
				<option>Felicia Haynes</option>
				<option>Andrew Kenmore</option>
				<option>Erik Summerfield</option>
				<option>Beverly Thames</option>
				<option>Geizelle White</option>
			</select>
		</li>
	</ul>
</div>

		</div>
		<div class="main-content">
				<div class="search group section">
						<input type="search" placeholder="search term">
						<a class="btn btn-5 btn-5a icon-remove" href=""><span class=" icon-mag-glass-02" aria-hidden="true"></span></a>
					</div>
				<ul class="results">
					<li class="group">
						<header class="group">
							<a href=""><h4>Code for America Team Arrives in San Mateo County to Strengthen the Food Safety Net</h4></a>
							<span class="meta">Feb 13, 2013</span>
						</header>
						<div class="content group">
						<p>Redwood City, Calif Today, the County of San Mateo Board of Supervisors welcomed three Code for America Fellows. The county is one of just ten sites selected</p>
						</div>
						<a href="">Read Press Release</a>
					</li>
					
					<li class="group">
						<header class="group">
						<h4>Current Employment Opportunities</h4>
						</header>
						<div class="content group">
							<img src="http://placehold.it/80x80" class="thumb">
							<p>No application to download! You can apply online for most positions!</p>
						</div>
						<a href="">Read Page</a>
					</li>
					
					<li class="group">
						<header class="group">
							<h4>Health & Safety Online Course Offerings</h4>
							<span class="meta">Training</span>
						</header>
						<div class="content group">
							<img src="http://placehold.it/80x80" class="thumb">
							<p>These online trainings are available for County and Regional Training and Development Consortium employees.</p>
						</div>
						<ul class="info group">
							<li>						
								<h5><span class="icon-location"> </span>Address</h5>
								<ul class="adr">
									<li>123 Main Street</li>
									<li>San Mateo, CA 9999</li>
								</ul>
							</li>
							<li class="phone">															
								<h5><span class="icon-phone"> </span>Phone</h5>
								<p>555-1234</p>
							</li>
							<li class="url">																		<h5><span class="icon-link"> </span>URL</h5>
								<a href="">www.thewebsite.com</a>
							</li>
						</ul>
						<a href="">Read Page</a>
					</li>
					
					<li class="group">
						<header class="group">

						<h4>Coyote Point Opened</h4>
						<span class="meta">May 27, 2013</span>
						</header>
						<div class="content group">
							<img src="http://placehold.it/80x80" class="thumb">
							<p class="author">By: <a href="">Felicia Haynes</a></p><p>Coyote Point is a regional recreation area that provides a wide variety of opportunities: picnicking, swimming, windsurfing, bicycling, jogging, fishing, boating, and sailing. Kids will love the giant, castle-and-dragon-themed Magic Mountain Playground. Spectacular natural history exhibits of the Bay Area can be found at the CuriOdyssey. You can observe and listen to live animals at the Wildlife Habitats. Stroll along the beach promenade, visit the marina and its breakwater, or to the saltwater marsh. See shorebirds, colorful boats, and windsurfer.</p>	
						</div>

						<ul class="info group">
							<li>																
								<h5><span class="icon-location"> </span>Address</h5>
								<ul class="adr">
									<li>123 Main Street</li>
									<li>San Mateo, CA 9999</li>
								</ul>
							</li>

						</ul>
						<a href="">Read Page</a>
					</li>
					
					<li class="group">
						<header class="group">
						<h4>Spring 2013 Course Catalog</h4>
						</header>
						<div class="content group">
							<p>Learn more about the San Mateo County Course Catalog for training for County, Court, City, Nonprofit, and Special District Employees.</p>
						</div>
						<a href="">Read Page</a>
					</li>
				</ul>
		</div>
	</div>
</div>	