
<div class="body details">
	<div class="main-body group">
		<header class="group">
			<h2 class="page-title">Message from the Director</h2>
			<a class="show_hide sub-link icon-subnav" rel="#sub" href="">View Sub Nav</a>
		</header>
		<div class="sidebar">
			<nav id="sub" class="sub">
				<ul class="group">

					<li class="active"><a href="">Message from the Director</a>
						<ul class="group">	
							<li><a href="">Personal Greeting</a></li>
							<li><a href="">Bio</a></li>
							<li><a href="">Third Page</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="main-content">

<p>Thank you for your visit to our web site and your interest in San Mateo County. We hope you will find what you?re looking for as you peruse the many informational areas that are available on this web site including:</p>

<ul>
<li>Current employment opportunities</li>
<li>Employee and retirement benefits</li>
<li>Health and Fitness programs</li>
<li>Training and development</li>
<li>Employee and labor relations</li>
<li>Risk management and safety</li>
<li>Equal employment opportunity</li>
<li>Classification and compensation</li>
</ul>
<p>Donna Vaillancourt, Director <br/>
(650) 363-4132</p>

<p>Employment with San Mateo County offers a wealth of opportunities to serve your community while building a career. The County has a culture of innovation and has created a diverse workforce that is nationally celebrated for its collaborative approaches to providing essential services.</p>

<p>San Mateo County leadership commits to serving the public well and providing a competitive compensation program including a choice of retirement plans, flexible hours, childcare center, commute assistance, health and wellness programs and much, much more.</p>

<p>The County has been working on a Succession Planning Program, which includes many new and remarkable initiatives to prepare our workforce for the future. This is an exciting time and we in Human Resources look forward to continuing to partner with our department customers to position San Mateo County as employer of choice.</p>

<p>Choose to make a difference ? choose the County of San Mateo for a career!</p>

<p>If you have recruitment questions, please contact HRwebmaster@smcgov.org or you can reach us Monday through Thursday, 7:00 a.m. to 7:00 p.m. at (650) 363-4343.</p>

<p>Sincerely,<br/>
Donna J Vaillancourt Director</p>

		</div>
		<div class="secondary">
			<div class="block campaign seamless">
				<h4>Department Spotlight</h4>
				<img src="http://www.co.sanmateo.ca.us/Attachments/HR/Images/Training%20&%20Development%20Images/HR-Banners-Fall2013Catalog.gif">
				<p>Use this for super-special notices in the sidebar.</p>
				<a href="" class="btn-bar">Call to Action</a>
			</div>
	</div>

	</div>
	</div>
