<div id="dept-switch">
	<a class="close show_hide icon-close" href="" rel="#dept-switch"></a>
	<h2>Departments</h2>
	<ul class="group">
			<li><a href="">Agriculture Weights and Measures</a></li>
			<li><a href="">Assessor, County Clerk-Recorder &amp;&nbsp;Chief Elections Officer</a></li>
			<li><a href="">Board of Supervisors</a></li>
			<li><a href="">Child Support Services</a></li>
			<li><a href="">Controller</a></li>
			<li><a href="">Coroner</a></li>
			<li><a href="">County Counsel</a></li>
			<li><a href="">County Managers Office/Clerk of the Board</a></li>
			<li><a href="">Courts</a></li>
			<li><a href="">District Attorney</a></li>
			<li><a href="">Fire Protection Services</a></li>
			<li><a href="">Health System</a></li>
			<li><a href="">Housing (Department of Housing)</a></li>
			<li><a href="">Human Resources Department</a></li>
			<li><a href="">Human Services Agency</a></li>
			<li><a href="">Information Services Department</a></li>
			<li><a href="">Parks Department</a></li>
			<li><a href="">Planning and Building</a></li>
			<li><a href="">Probation</a></li>
			<li><a href="">Public Works</a></li>
			<li><a href="">SamCERA (Retirement)</a></li>
			<li><a href="">San Mateo County Library</a></li>
			<li><a href="">Sheriff's Office</a></li>
			<li><a href="">Tax Collector / Treasurer / Revenue Services</a></li>
		</ul>
</div>

<header class="group">
	<div class="inner">
		<div class="lockup group">
			<a href=""><h2 class="county-name">County<span>of</span>San Mateo</h2></a>
			<a href=""><h2 class="dept-name">Department of Human Resources</h2></a>
		</div>
<!-- 		<a class="btn btn-nav" href=""><span class="icon-menu" aria-hidden="true"></span></a> -->
		
		
		<div class="menu-button btn-nav icon-menu"></div>
			<nav class="primary main-nav">
				<ul class="group flexnav">
					<div class="search group section">
						<input type="search" placeholder="Search..">
						<a class="btn btn-5 btn-5a icon-remove" href=""><span class=" icon-mag-glass-02" aria-hidden="true"></span></a>
						<a class="dept-link show_hide" rel="#dept-switch" href="">View All Departments</a>		
					</div>

					<li class="home"><a href=""></a></li>
					<li><a href="">Activities</a></li>
					<li><a class="sub-nav" href="">Parks</a>
						<ul>
							<li><a href="">Brochures</a></li>
							<li><a href="">Facilities</a></li>
							<li><a href="">Rules & Regulations</a></li>
							<li><a href="">Be Aware</a></li>
						</ul>
					</li>
					<li><a href="">Trails</a></li>
					<li><a href="">Events</a></li>
					<li><a href="">Reservations</a></li>
					<li><a href="">Park Commission</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</nav>
	
	</div>
<!-- 			<ul class="menu-button icon-menu"></ul> -->
</header>

<div class="body">
	<div class="main-body group">
		<header class="group">
			<h2 class="page-title">Message from the Director</h2>
			<a class="show_hide sub-link icon-subnav" rel="#sub" href=""></a>
		</header>
		<div class="sidebar">
			<nav id="sub" class="sub">
				<ul class="group">

					<li class="active"><a href="">Message from the Director</a>
						<ul class="group">	
							<li><a href="">Personal Greeting</a></li>
							<li><a href="">Bio</a></li>
							<li><a href="">Third Page</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="main-content">

<p>Thank you for your visit to our web site and your interest in San Mateo County. We hope you will find what you?re looking for as you peruse the many informational areas that are available on this web site including:</p>

<ul>
<li>Current employment opportunities</li>
<li>Employee and retirement benefits</li>
<li>Health and Fitness programs</li>
<li>Training and development</li>
<li>Employee and labor relations</li>
<li>Risk management and safety</li>
<li>Equal employment opportunity</li>
<li>Classification and compensation</li>
</ul>
<p>Donna Vaillancourt, Director <br/>
(650) 363-4132</p>

<p>Employment with San Mateo County offers a wealth of opportunities to serve your community while building a career. The County has a culture of innovation and has created a diverse workforce that is nationally celebrated for its collaborative approaches to providing essential services.</p>

<p>San Mateo County leadership commits to serving the public well and providing a competitive compensation program including a choice of retirement plans, flexible hours, childcare center, commute assistance, health and wellness programs and much, much more.</p>

<p>The County has been working on a Succession Planning Program, which includes many new and remarkable initiatives to prepare our workforce for the future. This is an exciting time and we in Human Resources look forward to continuing to partner with our department customers to position San Mateo County as employer of choice.</p>

<p>Choose to make a difference ? choose the County of San Mateo for a career!</p>

<p>If you have recruitment questions, please contact HRwebmaster@smcgov.org or you can reach us Monday through Thursday, 7:00 a.m. to 7:00 p.m. at (650) 363-4343.</p>

<p>Sincerely,<br/>
Donna J Vaillancourt Director</p>

		</div>
		<div class="secondary">
			<div class="block campaign seamless">
				<h4>Department Spotlight</h4>
				<img src="http://www.co.sanmateo.ca.us/Attachments/HR/Images/Training%20&%20Development%20Images/HR-Banners-Fall2013Catalog.gif">
				<p>Use this for super-special notices in the sidebar.</p>
				<a href="" class="btn-bar">Call to Action</a>
			</div>
	</div>

	</div>
	</div>
<footer class="group">
    <ul class="adr">
    	<li class="">County of San Mateo</li>
        <li class="street-address">400 County Center</li>
        <li><span class="locality">Redwood City</span>,
        <span class="region">CA</span>
        <span class="postal-code"> 94063</span></li>
    </ul>
	<nav>
		<ul class="group">
			<li><a href="">San Mateo County</a></li>
			<li><a href="">Parks Department</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Site Map</a></li>
			<li><a href="">Disclaimer</a></li>
			<li><a href="">Privacy Policy</a></li>
		</ul>
	</nav>
</footer>