@charset "UTF-8";

$primaryBlue: #036cb6;
$primaryTeal: #38939b;
$primaryGray: #555a5a;
$altBlue: #0d66a1;
$altPurple: #6b699e;
$altGreen: #8dc63f;
$altOrange: #e98a41;
$altRed: #852432;

/* Media Queries */
$papabear: 340px;

@media only screen and (max-width: $papabear), only screen and (max-device-width: $papabear) {

body {
	margin: auto;
/* 	max-width: 320px; */
height: 1000px;
}

a {
	color: $primaryBlue;
}

.fold {
	position: fixed;
	bottom: 0;
	border-top: 1px dashed #eee;
	display: block;
	width: 100%;
	height: 44px;
	background-color: #ccc;
}

header {
	background: -webkit-linear-gradient(#fafafa 0%, #ffffff 100%);
	padding: .5em 0;
	margin-bottom: 10%;
}

.lockup {
	width: 80%;
	float: left;
}

.btn .icon-nav {
	font-size: 1.5em;
	float: right;
}

.county-name, .dept-name {
	display: inline-block;
	padding: 0 .5em;
	text-transform: uppercase;
}

h2 {
	color: $primaryTeal;
	font-family: 'Trade Gothic W01 Light';
	font-size: 2em;
	margin: 0;
	line-height: 1.2em;
	font-weight: 100;
}

.county-name {
	color: $primaryBlue;
	font-size: 1.25em;
	font-family: 'Trade Gothic W01 Bold';
}

.county-name span {
	font-size: .75em;
	font-family: 'Trade Gothic W01 Roman';}

.dept-name {
	color: $primaryTeal;
	font-family: 'Trade Gothic W01 Light';
	font-size: 1.25em;
	margin-bottom: 0;
	line-height: 1em;
	font-weight: 100;
}

a.btn {
	float: left;
	width: 15%;
	background-color: $primaryBlue;
	text-align: center;
	color: white;
}

.main {
	bottom: 44px;
	position: fixed;
	background: rgba($primaryBlue, .95);
	display: block;
	width: 100%;
	min-height: 44px;
}

.main:active {
	width: 100%;
	height: auto;
	border-radius: 0;
}
.main nav li {
	color: white;
	text-align: left;
	
	
a {
	color: white; 
	padding: .25em; 
	min-height: 44px;}
}
.home {display: none;}
.main nav li ul {
	display: none;
}

.hideme {
opacity: 0;	
	ul {color: white; text-align: center; font-size: 1.5em; margin: 0; padding: .25em 0;}
	}

.content {display:none;}

.btn {
background-color: #036cb6;
color: #f7f7f7;
border-radius: 3px;
padding: .75em 1em;
text-transform: uppercase;
font-size: 1.1em;
display: inline-block;
margin-right: 3%;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
font-family: 'Trade Gothic W01 Bold';
font-weight: 300;
/* font-size: 1.1em; */
}

.btn:hover {
color: #fff;
background-color:#38939b;
}

.search {
	background-color: rgba(56, 147, 155, .2);
	padding: .5em;
	position: relative;
	border-radius: 3px;
	margin: 0 auto 5%;
}

.search input[type=search] {
   	background-image: -webkit-linear-gradient(rgba(56, 147, 155, .3) 0%, rgba(56, 147, 155, .4) 100%);
	border: none;
	box-shadow: none;
	color: white;
	float: left;
	width: 80%;
	margin-right: 5%;
	margin-bottom: 0;
	font-size: 1em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	font-family: 'Trade Gothic W01 Bold';
	font-weight: 300;
}

.search input[type=search]:focus {
	box-shadow: none;
   	background-image: -webkit-linear-gradient(rgba(56, 147, 155, .7) 0%, rgba(56, 147, 155, .8) 100%);
   	color: white;	
   	font-family: 'Trade Gothic W01 Bold';
}

.search input[type=search]:focus::-webkit-input-placeholder {
   color: white;
}

.search input[type=search]::-webkit-input-placeholder {
   color: #036cb6;
}

.search input[type=search]:-moz-placeholder { /* Firefox 18- */
   color: #036cb6;  
}

.search input[type=search]::-moz-placeholder {  /* Firefox 19+ */
   color: #036cb6;  
}

.search input[type=search]:-ms-input-placeholder {  
   color: #036cb6;  
}

.search .btn {
	width: 15%;
	float: left;
	border: none;
	display: block;
	padding: .5em;
	text-align: center;
	margin-right: 0;
	
}

.search .btn:after {
	content: none;
}


@font-face {
	font-family: 'SanMateoIcon';
	src:url('fonts/SanMateoIcon.eot');
	src:url('fonts/SanMateoIcon.eot?#iefix') format('embedded-opentype'),
		url('fonts/SanMateoIcon.woff') format('woff'),
		url('fonts/SanMateoIcon.ttf') format('truetype'),
		url('fonts/SanMateoIcon.svg#SanMateoIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'SanMateoIcon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mag-glass-02, .icon-menu {
	font-family: 'SanMateoIcon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-mag-glass-02:before {
	content: "\e000";
}
.icon-menu:before {
	content: "\e001";
}

}

@media all and (min-width: 340px) {

body {

height: 2000px;
}

.wrapper {
	width: 100%;
	margin: auto;
/* 	padding: 1em; */
}

a {color: $primaryBlue;}

header {
/* 	border-bottom: 1px solid #fafafa; */
/* 	box-shadow: 0 3px 3px rgba(0,0,0,.1); */
	padding: 1em 0 .5em;
	background-image: url(/images/uber-texture2.png), 
-webkit-linear-gradient(#faffff 0%, /* #ffffff 50%, */ #fdffff 100%);
	background-image: url(/images/uber-texture2.png), 
-moz-linear-gradient(#faffff 0%, /* #ffffff 50%, */ #ffffff 100%);
	border-top: 5px solid rgba($primaryBlue, .9);

}

.inner {
	padding: .5em 1em 1.25em;
	box-shadow: 0 3px 6px rgba($primaryGray, 0.1);
}

.hideme {
	opacity: 1.0
}

.lockup {
	margin-bottom: 3%;
	width: 65%;
}
	
.county-name, .dept-name {
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px #fff;
}

h1 {
	color: $primaryTeal;
	font-family: 'Trade Gothic W01 Light';
	text-transform: uppercase;
}

.county-name {
	color: $primaryBlue;
	font-size: 2em;
	line-height: 1em;
	font-family: 'Trade Gothic W01 Bold';
	background: url("/images/seal.png") no-repeat 0 -2px;
    padding-left: 1.35em;
    background-size: contain;
}

.county-name span {
	font-size: .6em;
	font-family: 'Trade Gothic W01 Roman';
}

.county-name:hover {
	background-image: none;
	padding-left: 0;
}

.county-name:hover:before {
	font-family: 'SanMateoIcon';
    content: "\e003";
    color: rgba($primaryBlue, .9);
    font-size: .85em;
    padding-right: .45em;
}

h2 {
	color: $primaryTeal;
	font-family: 'Trade Gothic W01 Light';
	font-size: 2em;
	margin: 0;
	line-height: 1.2em;
	font-weight: 100;
}

.dept-name {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/*
.dept-name:after {
    color: rgba($primaryTeal, .3);
    padding-left: .25em;
    font-family: 'SanMateoIcon';
    content: "\e002";
    font-size: .7em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    }

.dept-name:hover:after{
	color: rgba($primaryTeal, 1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
*/

.search {
	background-color: rgba($primaryTeal, .05);
	padding: 1em .5em .75em;
	border-radius: 3px;
	margin: 0 auto 0%;
	position: absolute;
	top: 0;
	right: 1.5%;
	width: 30%;
}

.search input[type=search] {
   	background-image: -webkit-linear-gradient(rgba($primaryTeal, .2) 0%, rgba($primaryTeal, .2) 100%);
	border: none;
	box-shadow: none;
	color: white;
	float: left;
	width: 80%;
	margin-right: 3%;
	margin-bottom: 0;
	font-size: 1em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	font-family: 'Trade Gothic W01 Roman';
}

.search input[type=search]:hover {
}

.search input[type=search]:focus {
	box-shadow: none;
   	background-image: -webkit-linear-gradient(rgba(56, 147, 155, .7) 0%, rgba(56, 147, 155, .8) 100%);
   	color: white;	
   	font-family: 'Trade Gothic W01 Bold';
}

.search input[type=search]:focus::-webkit-input-placeholder {
   color: white;
}

.search input[type=search]::-webkit-input-placeholder {
   color: #036cb6;
}

.search input[type=search]:-moz-placeholder { /* Firefox 18- */
   color: #036cb6;  
}

.search input[type=search]::-moz-placeholder {  /* Firefox 19+ */
   color: #036cb6;  
}

.search input[type=search]:-ms-input-placeholder {  
   color: #036cb6;  
}

.search .btn {
	width: 15%;
	float: left;
	border: none;
	display: block;
	padding: .5em;
	text-align: center;
	margin-right: 0;
	
}

.search .btn:after {
	content: none;
}

.dept-link {
	padding: .25em .25em;
	font-size: .7em;
	display: inline-block;
	margin-top: 5px;
}
.icon-menu {
	display: none;
}
.primary {
	border-radius: 3px;
	width: 100%;
	background-color: rgba($primaryTeal, .05);

	
	ul {
		color: $primaryBlue;
	}
	

		.home a {}
		
		.home a:before {
			content: "\e003";
			font-family: 'SanMateoIcon';
			text-indent: 0 !important;
		}
		
	li {
		float: left;
		list-style-type: none;
		position: relative;
				
		
		a {
			font-family: 'Trade Gothic W01 Roman', Helvetica Neue, Arial, Helvetica, sans-serif; 
			font-size: 1.1em;
			padding: 0.5em .9em;
			display: block;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
			}
			
		a:hover {
			background-color: rgba($primaryTeal, 1);
			color: white;
			border-radius: 3px;
		}
		
		a.sub-nav:after {
			content: "\e004";
			font-family: 'SanMateoIcon';
			font-size: .5em;
			padding-left: 5px;
			color: rgba($primaryTeal, .3);
		}
		
		a.sub-nav:hover {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		
		a.sub-nav:hover:after {
			color: rgba(#fff, .5);
		}
		
		ul {
			position: absolute;
		    top: 45px;
		    left: -20px;
		    width: 300%;
		 
		    opacity: 0;
		    background: rgba($primaryTeal, .9);
		 
		    -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
		    border-radius: 0 0 5px 5px;
		 
		    -webkit-transition: opacity .25s ease .1s;
		    -moz-transition: opacity .25s ease .1s;
		    -o-transition: opacity .25s ease .1s;
		    -ms-transition: opacity .25s ease .1s;
		    transition: opacity .25s ease .1s;
		    
		    li {
			    height: 0;
			    overflow: hidden;
			    padding: 0;
			    width: 100%;
			    display: inline-table;
			 
			    -webkit-transition: height .25s ease .1s;
			    -moz-transition: height .25s ease .1s;
			    -o-transition: height .25s ease .1s;
			    -ms-transition: height .25s ease .1s;
			    transition: height .25s ease .1s;
			    
			    a {
			    color: white;
			    display: block;
			    border-radius: 0;
			    padding: .5em 1em;
			    width: 100%;
				}
			}
			
			li:last-child a, li:last-child a:hover {
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
			

	}
	
	ul {margin-bottom: 0;}
}
		.primary li:hover > ul {
			opacity: 1;}
			
		.primary li:hover > ul li {
			height: 36px;
			overflow: visible;
			padding: 0;}
.content {
	display: inline !important;
}

.btn {
background-color: #036cb6;
color: #f7f7f7;
border-radius: 3px;
padding: .75em 1em;
text-transform: uppercase;
font-size: 1.1em;
display: inline-block;
margin-right: 3%;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
font-family: 'Trade Gothic W01 Bold';
font-weight: 300;
/* font-size: 1.1em; */
}

.btn:hover {
color: #fff;
background-color:#38939b;
}

.btn-nav {
	display: none;
}
}

@font-face {
	font-family: 'SanMateoIcon';
	src:url('fonts/SanMateoIcon.eot');
	src:url('fonts/SanMateoIcon.eot?#iefix') format('embedded-opentype'),
		url('fonts/SanMateoIcon.woff') format('woff'),
		url('fonts/SanMateoIcon.ttf') format('truetype'),
		url('fonts/SanMateoIcon.svg#SanMateoIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'SanMateoIcon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mag-glass-02, .icon-menu, .icon-arrow-down, .icon-home, .icon-arrow-down-iso{
	font-family: 'SanMateoIcon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-mag-glass-02:before {
	content: "\e000";
}
.icon-menu:before {
	content: "\e001";
}
.icon-arrow-down:before {
	content: "\e002";
}
.icon-home:before {
	content: "\e003";
}
.icon-arrow-down-iso:before {
	content: "\e004";
}
