@charset "UTF-8";

$primaryBlue: #036cb6;
$primaryTeal: #38939b;
$primaryGray: #555a5a;
$altBlue: #0d66a1;
$altPurple: #6b699e;
$altGreen: #8dc63f;
$altOrange: #e98a41;
$altRed: #852432;


body {
	margin: auto;
	max-width: 320px;
}

a {
	color: $primaryBlue;
}

header {
	background: -webkit-linear-gradient(#fafafa 0%, #ffffff 100%);
	padding: .5em 0;
}

.county-brand, .dept-brand {
	display: block;
	font-family: 'Trade Gothic W01 Bold';
	padding: 0 .5em;
	text-transform: uppercase;
}

h1 {
	color: $primaryTeal;
	font-family: 'Trade Gothic W01 Light';
	text-transform: uppercase;
}

h2 {}

.county-name {
	color: $primaryBlue;
	font-size: 1.25em;
}

.county-name span {
	font-size: .75em
}
.dept-name {
	color: $primaryTeal;
	font-family: 'Trade Gothic W01 Light';
	font-size: 1.25em;
	margin-bottom: 0;
	line-height: 1em;
	font-weight: 100;
}

a.btn {
	float: left;
	width: 15%;
	background-color: $primaryBlue;
	text-align: center;
	color: white;
}

.main {
	bottom: 0;
	position: fixed;
	background: rgba($primaryBlue, .95);
	display: block;
	width: 100%;
}

.main:active {
	width: 100%;
	height: auto;
	border-radius: 0;
}
.main nav li {
	color: white;
	text-align: left;
	
a {
	color: white; 
	padding: .25em; 
	min-height: 44px;}
}

.hideme {
opacity: 0;	
	ul {color: white; text-align: center; font-size: 1.5em; margin: 0; padding: .25em 0;}
	}

.content {display:none;}

.btn {
background-color: #036cb6;
color: #f7f7f7;
border-radius: 3px;
padding: .75em 1em;
text-transform: uppercase;
font-size: 1.1em;
display: inline-block;
margin-right: 3%;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
font-family: 'Trade Gothic W01 Bold';
font-weight: 300;
/* font-size: 1.1em; */
}

.btn:hover {
color: #fff;
background-color:#38939b;
}

.search {
	background-color: rgba(56, 147, 155, .2);
	padding: .5em;
	position: relative;
	border-radius: 3px;
	margin: 0 auto 5%;
}

.search input[type=search] {
   	background-image: -webkit-linear-gradient(rgba(56, 147, 155, .3) 0%, rgba(56, 147, 155, .4) 100%);
	border: none;
	box-shadow: none;
	color: white;
	float: left;
	width: 80%;
	margin-right: 5%;
	margin-bottom: 0;
	font-size: 1em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	font-family: 'Trade Gothic W01 Bold';
	font-weight: 300;
}

.search input[type=search]:focus {
	box-shadow: none;
   	background-image: -webkit-linear-gradient(rgba(56, 147, 155, .7) 0%, rgba(56, 147, 155, .8) 100%);
   	color: white;	
   	font-family: 'Trade Gothic W01 Bold';
}

.search input[type=search]:focus::-webkit-input-placeholder {
   color: white;
}

.search input[type=search]::-webkit-input-placeholder {
   color: #036cb6;
}

.search input[type=search]:-moz-placeholder { /* Firefox 18- */
   color: #036cb6;  
}

.search input[type=search]::-moz-placeholder {  /* Firefox 19+ */
   color: #036cb6;  
}

.search input[type=search]:-ms-input-placeholder {  
   color: #036cb6;  
}

.search .btn {
	width: 15%;
	float: left;
	border: none;
	display: block;
	padding: .5em;
	text-align: center;
	margin-right: 0;
	
}

.search .btn:after {
	content: none;
}


@font-face {
	font-family: 'SanMateoIcon';
	src:url('fonts/SanMateoIcon.eot');
	src:url('fonts/SanMateoIcon.eot?#iefix') format('embedded-opentype'),
		url('fonts/SanMateoIcon.woff') format('woff'),
		url('fonts/SanMateoIcon.ttf') format('truetype'),
		url('fonts/SanMateoIcon.svg#SanMateoIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'SanMateoIcon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mag-glass-02, .icon-menu {
	font-family: 'SanMateoIcon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-mag-glass-02:before {
	content: "\e000";
}
.icon-menu:before {
	content: "\e001";
}
