@charset "UTF-8";

$primaryBlue: #036cb6;
$primaryTeal: #38939b;
$primaryGray: #555a5a;
$altBlue: #0d66a1;
$altPurple: #6b699e;
$altGreen: #8dc63f;
$altOrange: #e98a41;
$altRed: #852432;

/* Media Queries */
$papabear: 340px;

/* Fonts */
$light: 'Trade Gothic W01 Light', Helvetica Neue, Arial, Helvetica;
$reg: 'Trade Gothic W01 Roman', Helvetica Neue, Arial, Helvetica;
$bold:'Trade Gothic W01 Bold', Helvetica Neue, Arial, Helvetica;

@font-face {
	font-family: 'SanMateoIcon';
	src:url('fonts/SanMateoIcon.eot');
	src:url('fonts/SanMateoIcon.eot?#iefix') format('embedded-opentype'),
		url('fonts/SanMateoIcon.woff') format('woff'),
		url('fonts/SanMateoIcon.ttf') format('truetype'),
		url('fonts/SanMateoIcon.svg#SanMateoIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'SanMateoIcon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mag-glass-02, .icon-menu, .icon-arrow-down, .icon-home, .icon-arrow-down-iso, .icon-close {
	font-family: 'SanMateoIcon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-mag-glass-02:before {
	content: "\e000";
}
.icon-menu:before {
	content: "\e001";
}
.icon-arrow-down:before {
	content: "\e002";
}
.icon-home:before {
	content: "\e003";
}
.icon-arrow-down-iso:before {
	content: "\e004";
}
.icon-close:before {
	content: "\e005";
}

@media only screen and (max-width: $papabear), only screen and (max-device-width: $papabear) {

body {
	margin: auto;
/* 	max-width: 320px; */
	height: 1000px;
	}

a {
	color: $primaryBlue;
}

#dept-switch {
		display: none;
}

.wrapper > header {
	background-image: url(/images/uber-texture2.png), 
-webkit-linear-gradient(#faffff 0%, /* #ffffff 50%, */ #fdffff 100%);
	background-image: url(/images/uber-texture2.png), 
-moz-linear-gradient(#faffff 0%, /* #ffffff 50%, */ #ffffff 100%);
	border-top: 5px solid rgba($primaryBlue, .9);
	padding: .5em 0 .75em;
	margin-bottom: 10%;
	box-shadow: 0 3px 6px rgba($primaryGray, 0.1);
}

.lockup {
	width: 80%;
	float: left;
}

strong {display: block;}

.btn .icon-nav {
	font-size: 1.5em;
	float: right;
}

.county-name, .dept-name {
	display: inline-block;
	padding: 0 .5em;
	text-transform: uppercase;
}

h2 {
	color: $primaryTeal;
	font-family: 'Trade Gothic W01 Light';
	font-size: 2em;
	margin: 0;
	line-height: 1.2em;
	font-weight: 100;
}

h3 {color: $primaryTeal; font-family: $light; text-transform: uppercase; margin-top: 0; font-weight: 100;}

h4 {color: $primaryBlue; font-family: $reg;}

h5 {color: $primaryBlue; font-family: $bold;}


dl dd, dl dt {
	margin-bottom: 0;
}
.county-name {
	color: $primaryBlue;
	font-size: 1.25em;
	font-family: 'Trade Gothic W01 Bold';
}

.county-name span {
	font-size: .75em;
	font-family: 'Trade Gothic W01 Roman';}

.dept-name {
	color: $primaryTeal;
	font-family: 'Trade Gothic W01 Light';
	font-size: 1.25em;
	margin-bottom: 0;
	line-height: 1em;
	font-weight: 100;
}

a.btn {
	float: left;
	width: 15%;
	background-color: $primaryBlue;
	text-align: center;
	color: white;
}

.main {
	bottom: 44px;
	position: fixed;
	background: rgba($primaryBlue, .95);
	display: block;
	width: 14%;
	height: 9%;
	margin: auto;
	border-radius: 44px;
	margin: 0 43%;
}

.main:active {
	width: 100%;
	height: auto;
	border-radius: 0;
}
.main nav li {
	color: white;
	text-align: left;
	
	
a {
	color: white;
	padding: .25em .75em;
	min-height: 44px;
	font-size: .8em;
	border-bottom: 1px solid #014c80;
	display: block;
		font-family: 'Trade Gothic W01 Roman';
}
}
.home {display: none;}

.main nav li ul {
	display: none;
}

.main.hideme.expander.expanded {
    border-radius: 0 0 0 0;
    height: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    bottom: 0;
}
.dept-link {
	display: none;
}
.hideme {
opacity: 0;	

	ul {color: white; text-align: center; font-size: 1.5em; margin: 0; padding: .25em 0; }

	}
.main .icon-menu {-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;line-height: 1.25em;}
.content {display:none;}

.btn {
background-color: #036cb6;
color: #f7f7f7;
border-radius: 3px;
padding: .75em 1em;
text-transform: uppercase;
font-size: 1.1em;
display: inline-block;
margin-right: 3%;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
font-family: 'Trade Gothic W01 Bold';
font-weight: 300;
/* font-size: 1.1em; */
}

.btn:hover {
color: #fff;
background-color:#38939b;
}

.search {
	background-color: rgba(56, 147, 155, .2);
	padding: .5em;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.search input[type=search] {
/*    	background-image: -webkit-linear-gradient(rgba(56, 147, 155, .3) 0%, rgba(56, 147, 155, .4) 100%); */
background-color: white;
	border: none;
	box-shadow: none;
	color: white;
	float: left;
	width: 80%;
	margin-right: 5%;
	margin-bottom: 0;
	font-size: 1em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	font-family: 'Trade Gothic W01 Roman';
	font-weight: 300;
}

.search input[type=search]:focus {
	box-shadow: none;
   	background-image: -webkit-linear-gradient(rgba(56, 147, 155, .7) 0%, rgba(56, 147, 155, .8) 100%);
   	color: white;	
   	font-family: 'Trade Gothic W01 Bold';
}

.search input[type=search]:focus::-webkit-input-placeholder {
   color: white;
}

.search input[type=search]::-webkit-input-placeholder {
   color: #036cb6;
}

.search input[type=search]:-moz-placeholder { /* Firefox 18- */
   color: #036cb6;  
}

.search input[type=search]::-moz-placeholder {  /* Firefox 19+ */
   color: #036cb6;  
}

.search input[type=search]:-ms-input-placeholder {  
   color: #036cb6;  
}

.search .btn {
	width: 15%;
	float: left;
	border: none;
	display: block;
	padding: .55em;
	text-align: center;
	margin-right: 0;
	background-color: white;
	color: $primaryBlue;
}

.search .btn:after {
	content: none;
}

.main-body {
	position: relative;
}

.event-listing .main-body header {
	margin-bottom: 10%;
}

.event-listing .main-body header h2 {
	float: left;
	width: 70%;
}

.filter-link {
	float: right;
	font-size: .85em;
	width: 30%;
	margin-top: 5.75%;
}

.date-filter {
	margin-bottom: 0;
}

.event-filter {
	display: none;
	background-color: $primaryBlue;
	padding: 1em;
	
	.close {position: absolute; right: 5%; color: white; font-size: 1.5em;}
	.close:hover {color: rgba(#fff, .5)}
	
	ul li {
		list-style-type: none;
		float: left;
		width: 50%;
		padding: .25em;
	}
	
	h4 {
		font-family: $bold;
		color: white;
		text-transform: uppercase;
		margin-bottom: 5%;
	}
	
	label {
		color: white;
		font-weight: bold;
		margin-bottom: 3%;
	}
	
	input {
		border-radius: 3px;
	}
}

.page-title {
	font-size: 2em;
	color: $primaryBlue;
	padding: 0 0 .25em .4em;
	margin-bottom: 1%;
	text-transform: none;
}
.event-listing .main-content > h3{
	padding-left: .5em;
}

.event {
	background: white;
	border-top: 1px solid $primaryBlue;
	padding: 1em 0;
	
	h4 {float: left; font-family: $bold; padding-left: .75em;}
	
	.meta {font-size: .75em; border-top-left-radius: 3px; border-bottom-left-radius: 3px; background-color: rgba($primaryGray, .05); display: inline; border: 1px solid rgba($primaryGray, .2); padding: .25em .75em .25em .5em; float: right; color: $primaryGray;}
	
	img {
		width: 100%;	
	}
	
	.event-sum {
		width: 100%;
		font-size: .85em;
		background-color: rgba(3, 108, 182, .05);
		padding: 1em 1.25em;
		margin-bottom: 0;
	}
	
	.event-details {
	}
	
	.time, .address {
		width: 50%;
		float: left;
		font-size: .85em;
		padding: 1em 1em;
		line-height: 1.6em;
	}
	
	dl dd {margin-bottom: 3%;}
	
	.cta {
		padding: .5em;
		
		a {float: left; width: 48%; margin: 1%; font-size: .85em;
}
	}
}

footer {background-color: $primaryBlue;
	width: 100%;
	padding: 1em;
	
	ul {
		li { float: left;
			a{color: white; display: block;}
		}
	}
}


}

@media all and (min-width: 340px) {

html, body {

height: 100%;}

.wrapper {
	overflow: hidden 
}

.main-body {
	padding: 0 2em;
}

.main-content {
	width: 70%;
	float: left;
}

.sidebar {
	float: left;
	width: 25%;
	margin-right: 5%;

}

.filter-link, .main-body .close {
	display: none;
}

.page-title {
	font-size: 3em;
	color: $primaryBlue;
	border-bottom: 3px solid rgba($primaryBlue, .1);
	padding: 0 0 .25em;
	margin-bottom: 3%;
	text-transform: none;
}

h2 {color: $primaryBlue; text-transform: uppercase;}

h3 {color: $primaryTeal; font-family: $light; text-transform: uppercase; margin-top: 0; font-weight: 100;}

h4 {color: $primaryBlue; font-family: $reg;}

h5 {color: $primaryBlue; font-family: $bold;}

strong {display: block;}
.wrapper {
	width: 100%;
	margin: auto;
/* 	padding: 1em; */
}

a {color: $primaryBlue;}


.wrapper > header {
/* 	border-bottom: 1px solid #fafafa; */
/* 	box-shadow: 0 3px 3px rgba(0,0,0,.1); */
	padding: 1em 0 0;
	background-image: url(/images/uber-texture2.png), 
-webkit-linear-gradient(#faffff 0%, /* #ffffff 50%, */ #fdffff 100%);
	background-image: url(/images/uber-texture2.png), 
-moz-linear-gradient(#faffff 0%, /* #ffffff 50%, */ #ffffff 100%);
	border-top: 5px solid rgba($primaryBlue, .9);
	margin-bottom: 3%;
	box-shadow: 0 3px 6px rgba($primaryGray, 0.1);

}

.inner {
	padding: .5em 2em 1.25em;
	position: relative;
}

#dept-switch {
	background-color: $primaryBlue;
	padding: 1em;
	display: none;
	
	.close {position: absolute; top: 1.5%; right: 3%; color: white; font-size: 1.5em;}
	.close:hover {color: rgba(#fff, .5)}
	
	h2 {color: rgba(#fff, .7); padding: 0 .25em .25em .25em; text-transform: uppercase;}
	
	ul {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		margin-bottom: 0;
		
		li {
			a {
				color: white;
				font-weight: bold;
				font-size: .8em;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
				padding: .25em .75em;
				display: inline-block;
				border-radius: 3px;
				position: relative;
	}
				
			a:hover {background-color: rgba(#fff, .1)}
			
		}
	}
}

.hideme {
	opacity: 1.0
}

.lockup {
	margin-bottom: 3%;
	width: 65%;
}
	
.county-name, .dept-name {
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px #fff;
}

h1 {
	color: $primaryTeal;
	font-family: 'Trade Gothic W01 Light';
	text-transform: uppercase;
}

.county-name {
	color: $primaryBlue;
	font-size: 2em;
	line-height: 1em;
	font-family: 'Trade Gothic W01 Bold';
	background: url("/images/seal.png") no-repeat 0 -2px;
    padding-left: 1.35em;
    background-size: contain;
}

.county-name span {
	font-size: .6em;
	font-family: 'Trade Gothic W01 Roman';
	padding: 0 0.2em 0 0.1em;
}


.county-name:hover {
	color: rgba($primaryTeal, 1)
}

/*
.county-name:hover:before {
	font-family: 'SanMateoIcon';
    content: "\e003";
    color: rgba($primaryBlue, .9);
    font-size: .85em;
    padding-right: .45em;
}
*/

h2 {
	color: $primaryTeal;
	font-family: 'Trade Gothic W01 Light';
	font-size: 2em;
	margin: 0;
	line-height: 1.2em;
	font-weight: 100;
}

.dept-name {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.dept-link {
    background-color: rgba(56, 147, 155, 0.05);
    border-radius: 3px;
    color: $primaryBlue;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 5px;
    padding: 0.5em 1em;
    position: absolute;
    right: .5%;
    top: 110%;
}

.search {
    background-color: rgba(56, 147, 155, 0.05);
    border-radius: 3px;
    margin: 0 auto 0;
    padding: 0.5em;
    position: absolute;
    right: 3%;
    top: 5%;
    width: 30%;
}

.search input[type=search] {
   	background-image: -webkit-linear-gradient(rgba($primaryTeal, .2) 0%, rgba($primaryTeal, .2) 100%);
	border: none;
	box-shadow: none;
	color: white;
	float: left;
	width: 80%;
	margin-right: 3%;
	margin-bottom: 0;
	font-size: 1em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	font-family: 'Trade Gothic W01 Roman';
}

.search input[type=search]:hover {
}

.search input[type=search]:focus {
	box-shadow: none;
   	background-image: -webkit-linear-gradient(rgba(56, 147, 155, .7) 0%, rgba(56, 147, 155, .8) 100%);
   	color: white;	
   	font-family: 'Trade Gothic W01 Bold';
}

.search input[type=search]:focus::-webkit-input-placeholder {
   color: white;
}

.search input[type=search]::-webkit-input-placeholder {
   color: #036cb6;
}

.search input[type=search]:-moz-placeholder { /* Firefox 18- */
   color: #036cb6;  
}

.search input[type=search]::-moz-placeholder {  /* Firefox 19+ */
   color: #036cb6;  
}

.search input[type=search]:-ms-input-placeholder {  
   color: #036cb6;  
}

.search .btn {
	width: 15%;
	float: left;
	border: none;
	display: block;
	padding: .55em;
	text-align: center;
	margin-right: 0;
	
}

.search .btn:after {
	content: none;
}


.icon-menu {
	display: none;
}
.primary {
	border-radius: 3px;
	width: 100%;
	background-color: rgba($primaryTeal, .05);

	
	ul {
		color: $primaryBlue;
	}
	

		.home a {}
		
		.home a:before {
			content: "\e003";
			font-family: 'SanMateoIcon';
			text-indent: 0 !important;
		}
		
	li {
		float: left;
		list-style-type: none;
		position: relative;
				
		
		a {
			font-family: 'Trade Gothic W01 Roman', Helvetica Neue, Arial, Helvetica, sans-serif; 
			font-size: 1em;
			padding: 0.5em .9em;
			display: block;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
			}
			
		a:hover {
			background-color: rgba($primaryTeal, 1);
			color: white;
			border-radius: 3px;
		}
		
		a.sub-nav:after {
			content: "\e004";
			font-family: 'SanMateoIcon';
			font-size: .5em;
			padding-left: 5px;
			color: rgba($primaryTeal, .3);
		}
		
		a.sub-nav:hover {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		
		a.sub-nav:hover:after {
			color: rgba(#fff, .5);
		}
		
		ul {
			position: absolute;
		    top: 45px;
		    left: -20px;
		    width: 300%;
		 
		    opacity: 0;
		    background: rgba($primaryTeal, .9);
		 
		    -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
		    border-radius: 0 0 5px 5px;
		 
		    -webkit-transition: opacity .25s ease .1s;
		    -moz-transition: opacity .25s ease .1s;
		    -o-transition: opacity .25s ease .1s;
		    -ms-transition: opacity .25s ease .1s;
		    transition: opacity .25s ease .1s;
		    
		    li {
			    height: 0;
			    overflow: hidden;
			    padding: 0;
			    width: 100%;
			    display: inline-table;
			 
			    -webkit-transition: height .25s ease .1s;
			    -moz-transition: height .25s ease .1s;
			    -o-transition: height .25s ease .1s;
			    -ms-transition: height .25s ease .1s;
			    transition: height .25s ease .1s;
			    
			    a {
			    color: white;
			    display: block;
			    border-radius: 0;
			    padding: .5em 1em;
			    width: 100%;
				}
			}
			
			li:last-child a, li:last-child a:hover {
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
			

	}
	
	ul {margin-bottom: 0;}
}
		.primary li:hover > ul {
			opacity: 1;}
			
		.primary li:hover > ul li {
			height: 36px;
			overflow: visible;
			padding: 0;}
.content {
	display: inline !important;
}

.btn {
background-color: #036cb6;
color: #f7f7f7;
border-radius: 3px;
padding: .75em 1em;
text-transform: uppercase;
font-size: 1.1em;
display: inline-block;
margin-right: 3%;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
font-family: 'Trade Gothic W01 Bold';
font-weight: 300;
/* font-size: 1.1em; */
}

.btn:hover {
color: #fff;
background-color:#38939b;
}

.btn-nav {
	display: none;
}

/* Events */
.event {
border-radius: 3px;
background-color: white;
border: 1px solid rgba(3, 108, 182, .1);
width:100%;
position: relative;
margin: 0 auto 10%;
display: block;
/* box-shadow: 0 2px 3px rgba(0,0,0,.1); */

	dt, strong {color: $primaryTeal}
}

.event .content {
	float: left;
	width: 66%;
	padding: .75em 1em 0;
	min-height: 100px;
	position: relative;
}

.event > div {
	padding: 0em 1em 0;
}
.event h4 {
	float: left;
	display: inline-block;
	line-height: 1.1em;
    margin: .75em 0 0%;
    width: 80%;
    font-family: $bold;
    color: $primaryBlue;
    
}
.event .meta {
float: right;
font-size: .75em; border-radius: 3px; background-color: rgba($primaryGray, .05); display: inline; border: 1px solid rgba($primaryGray, .2); padding: .5em .75em .25em .5em; float: right; color: $primaryGray; margin: 1.4em 0 1.25em;
}

.event .place {
	float: left;
	width: 45%;
	clear: both;
	margin-right: 10%;
	line-height: 1.7em;
}

.event .place, .event .time {
	font-size: .85em;
	margin-bottom: 3%;
}
.event > img {
	float: right;
	width: 100%;
	max-width: 200px;
	margin-bottom: 2%;
}

.event .event-sum {
	width: 100%;
	clear: both;
	font-size: .85em;
	background-color: rgba(3, 108, 182, .05);
	padding: 1em 1.25em;
	margin-bottom: 0;
}

.event .date {
	background: rgba(255,255,255,.95);
	position: absolute;
	border-radius: 3px;
	top: .5em;
	right: .5em;
	padding: .1em .5em .5em;
	text-align: center;
	line-height: 1.5em;
	text-transform: uppercase;
}

.event .date span {
	display: block;
	color: #036cb6;
	font-size: 2em;
	font-family: 'Trade Gothic W01 Bold';
	padding-top: .15em;
}
.event .time {
	margin-bottom: 0;
	padding-bottom: 0;
	padding-left: 0;
	float: left;
	width: 45%;
}

.event-details {
	float: left;
	width: 66%;
	padding: 0em 1em 0;
	min-height: 100px;
	position: relative;
	
	.address, .time {
		width: 50%;
		float: left;
		font-size: .85em;
		padding: 0em 0 1em;
		line-height: 1.6em;
	}
}

.event.no-image {
	.time {}
}
.event .cta {margin: 2% 0;
	
	a {font-size: .85em;}
}

.event-filter ul li {
	list-style-type: none;
}

.event-filter {
padding: .5em 1em .5em;
background-color: rgba($primaryBlue, .05);
border: 1px solid rgba($primaryBlue, .05);
border-radius: 3px;

	h4 {
		display: block;
		font-weight: 100;
	}
	
	label {
		margin-bottom: 3%;
		font-weight: bold;
	}
	
	select {
		margin-bottom: 2em;
	}
	
	.date-filter {
		padding-top: 3%;
		margin-bottom: 0;
		
		label {margin-bottom: 2%; font-weight: normal;}
		
		li {float: left;
			width: 50%;
			padding-right: .5em;
		}
	}
}

footer {background-color: $primaryBlue;
	width: 100%;
	padding: 1em;
	margin-bottom: 0;
	
	ul { width: 100%; margin-bottom: 0;
		li { float: left; list-style-type: none; width: 16%;
			a{color: white; display: block; font-weight: bold; font-size: .75em; text-align: center;}
		}
	}
}

}
