@import "compass";

// Include all the things!
@import "global/global";
@import "base/base";
//@import "layout/layout";
@import "components/components";

body {
	font-family: $font-stack;
}

body
h2 {
	font-family: $font-stack;
	color: $primary-blue;
}

h3 {
	color: $primary-blue;
	font-weight: 300;	
}

p {
	color: $text;
	font-size: 1em;
}

a {
	color: $primary-blue;
}

hr {
	border: 0;
	height: 5px;
	color: rgba($light-blue, .3);
	background-color: rgba($light-blue, .3);
}

.wrapper a:after { 
	content: " \00BB";
}

.wrapper {
	ul {
		li {
			color:#389f76;	
			list-style-position: inside;
			padding-left: 1em;
			font-size: .9em;
			line-height: 2em;
		}
	}
}

.title-img {
	 margin-bottom: 5%;
	 border-bottom: 2px solid $primary-blue;
	 background-color: $primary-blue;
	 
	 img {
		 margin: auto;
		 width: 100%;
	 }
}

.quotes {
	width: 100%;
	background-color: $primary-blue;
	border-radius: 6px;
	color: white;
	position: relative;
	margin-bottom: 20%;
	
	.text {
		p {
			color: white;
			font-weight: 800;
			padding: 1em;
			margin-bottom: 0;
		}
		
			}
			.citation {
			background-color: $light-blue;
			padding: 1em;
			margin-bottom: 10%;
			
			p {
				padding: 0;
				margin-bottom: 0;
				color: $primary-blue;
				font-weight: bold;
				}
		}

}

.quotes:before {
	height: 70px;
	width: 70px;
	position: absolute;
	border-radius: 100px;
	content: "\201D";
	background-color: #fafafa;
	margin: auto;
	color: #dfdfdf;
	font-size: 72px;
	display: inline-block;
	text-align: center;
	line-height: 105px;
	left: 40%;
	bottom: -35px;
	font-family: Georgia;
	font-weight: bold;
}

.field-wrapper {
	position: relative;
}

/* =Clearfix (all browsers)
--------------------------------*/
.group:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
/* IE6 */ 
* html .group {height: 1%;}
/* IE7 */
*:first-child+html .group {min-height: 1px;}

@media (min-width: 380px) {

.quotes {
	.quote {
		float: left;
		width: 60%;
		
		.text {
			padding: 1em 0 0 2em;
			p {font-size: 1.25em;}
		}
		.citation {
		
				position: absolute;
				bottom: 0;
				margin-bottom: 0;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				width: 100%;
				z-index: 0;
				
			p {padding-left: 2em;
				width: 100%;
			}
		}
	
	}
	
	img {
		float: right;
		width: 40%;
		bottom: 0;
		right: 0;
		z-index: 2;
	}
}

.quotes:before {
	top: 35%;
	left: -35px;
	bottom: auto;
	z-index: 1;
}

}

@media (min-width: 768px) {
.large-12 > p {
	font-size: 1.5em;
}

.title-img  {
	margin-bottom: 2%;
}

.two-col-text {
       -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap: 20px;
}

.columns {
	margin-bottom: 3%;
}

}