@import "compass";

// Include all the things!
@import "global/global";
@import "base/base";
//@import "layout/layout";
@import "components/components";

body {
	font-family: $font-stack;
}

body

h2 {
	color: $primary-blue;
	font-size: 3em;
}


.page-title h2 {
	margin-bottom: 0;
	margin: 0;
	background-color: rgba($primary-blue, .05);
	color: $primary-blue;
	display: inline-block;
	padding: .2em .5em .25em;
	font-size: 2em;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-weight: 300;
}
h3 {
	color: $green;
/* 	font-weight: 300; */
}

h4 {color: $primary-blue;
	font-size: 1.25em;
	font-weight: 300;
	margin-bottom: 3%;
}

p {
	color: $text;
	font-size: 1em;
}

a {
	color: $primary-blue;
}

hr {
	border: 0;
	height: 5px;
	color: rgba($light-blue, .3);
	background-color: rgba($light-blue, .3);
}

.wrapper a:after {
	content: " \00BB";
}

.field-wrapper {
	ul {
		li {
			color:#389f76;
			list-style-position: inside;
			padding-left: 1em;
			font-size: .9em;
			line-height: 2em;
		}
	}
}

.title-img {
	 margin-bottom: 5%;
	 background-color: $primary-blue;
	 border-bottom: 6px solid $primary-blue;
	 position: relative;

	 img {
		 margin: auto;
		 width: 100%;
}
}

.title-img:after {
	position: absolute;
	bottom: 0;
	height: 1px;
	background-color: white;
	display: block;
	width: 100%;
	content: "";

}


.quotes {
	width: 100%;
	background-color: $primary-blue;
	@include border-radius(6px);
	color: white;
	position: relative;
	margin-bottom: 20%;

	.text {
		p {
			color: white;
			font-weight: 800;
			padding: 1em;
			margin-bottom: 0;
		}

			}
			.citation {
			background-color: $light-blue;
			padding: 1em;
			margin-bottom: 10%;

			p {
				padding: 0;
				margin-bottom: 0;
				color: $primary-blue;
				font-weight: bold;
				}
		}

		img {margin-bottom: 0;}

}

.quotes:before {
	height: 70px;
	width: 70px;
	position: absolute;
	border-radius: 100px;
	content: "\201D";
	background-color: $site-background;
	margin: auto;
	color: #dfdfdf;
	font-size: 72px;
	display: inline-block;
	text-align: center;
	line-height: 105px;
	left: 40%;
	bottom: -35px;
	font-family: Georgia;
	font-weight: bold;
}

.field-wrapper {
	position: relative;
}

.centered {
	text-align: center;
}
.home-services {

	li {
		list-style-type: none;
		text-align: center;


	span {
		height: 60px;
		display: block;
		margin: 10px 0 20px;


	}
	h4 {
		font-weight: bold;
	}

	img {
		display: block;
		margin: 20px auto;
		vertical-align: bottom;
	}
	}
	
	@media screen and (min-width: 768px){
		
		li {
			text-align: left;
			span {
				float: left;
				width: 20%;
				margin: 10px 20px 20px 0;
				
				img {
					margin-top: 0;
				}
			}
			
			
		}
		
	}
	
	@media screen and (min-width: 960px){
		li {
			span {
				float: none;
				width:auto;
				margin: 10px 0 20px;
				
				img {
					margin-top: 20px;
				}
			}
			
			
		}

	}

}

.page-title {
	margin: 20px auto 0;
}

/* =Clearfix (all browsers)
--------------------------------*/
.group:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
/* IE6 */
* html .group {height: 1%;}
/* IE7 */
*:first-child+html .group {min-height: 1px;}

@media (min-width: 380px) {

.quotes {
	.quote {
		float: left;
		width: 60%;

		.text {
			padding: 1em 0 2.5em 2em;
			p {font-size: 1.25em;}
			
			@media screen and (min-width: 768px){
				p {padding-bottom: 3.9em;}
			}
		}
		.citation {

				position: absolute;
				bottom: 0;
				margin-bottom: 0;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				width: 100%;
				z-index: 0;

			p {padding-left: 2em;
				width: 100%;
			}
		}

	}

	img {
		float: right;
		width: 40%;
		bottom: 0;
		right: 0;
		z-index: 2;
    position: relative;
    margin-bottom: 0;
	}
}

.quotes:before {
	top: 35%;
	left: -35px;
	bottom: auto;
	z-index: 1;
}

}

@media (min-width: 768px) {

header {
	margin-bottom: 0;
}

.large-12 > p {
	font-size: 1.5em;
}

.title-img  {
	margin-bottom: 2%;

	img {width: 100%;}
}

.two-col-text {
       -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap: 20px;
}

.columns {
	margin-bottom: 2%;
}

.quotes {
	margin-bottom: 0;
}

.top-bar-section {
	margin-top: 13px;
}

/*
.top-bar {
	padding-top: 1em;
}
*/

.page-title h2 {
	margin: 0;
	background-color: rgba($primary-blue, .05);
	color: $primary-blue;
	display: inline-block;
	padding: .15em .65em;
	font-size: 2.5em;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.page-intro {
	font-size: 1em;
	
/*
	@media screen and (min-width: 768px){
		font-size: 1.25em;
	}
	
		@media screen and (min-width: 960px){
		font-size: 1em;
	}
*/
}

.large-12 .panel-pane {
	margin-bottom: 0;
	}
	
.row {
	margin-bottom: 30px;
}

.page-title {
	margin: 20px auto 0;
}

}
